body {
  font-family: 'Cuprum', sans-serif;
	background-color: #F3F6F9;
	background-color: #ECEFF3;
}
h1{
	margin: 30px 0;
}
a{
	text-decoration: none;
}
ul{
	padding: 0;
	margin: 0;
}
#toggle_nav{
	float: right;
}
#page_title{
	background-color:#0D1E30;
	color: #fff;
	font-family: 'Cuprum', sans-serif;
	text-align: center;
}
#page_title h1{
	font-weight: bold;
}
.navbar {
	margin: 0;
	border: none;
}
.panel {
  background-color: #fff;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
label.control-label{
	display: block;
	margin: 12px 0 0 0;
	font-size: 110%;
}
#st-accordion .gender input{
	margin-right: 7px;
}
#st-accordion .gender{
  color: #656565;
  margin: 5px 15px 8px 0;
}
input.form-control, select.form-control, textarea.form-control  {
  background-color:#F3F6F9;
  background-image:none;
  border:1px solid #E6EAEE;
  border-radius:0;
  box-shadow:rgba(0, 0, 0, 0.0745098) 0 1px 1px;
  width: 100%;
  font-size: 110%;
  padding: 7px;
  height: 35px;
  color: #656565;
}
textarea.form-control {
	height: 170px;
}
select.form-control option{
	padding: 7px;
	border-bottom: 1px solid #fff;
	font-size: 110%;
	color: #656565;
}
select.form-control{
	/*color: #999;*/
}
input.form-control:focus{
	border-color: #90CAFA;
}
.no_padding{
	padding: 0;
}
.no_padding_left{
	padding-left: 0;
}
.require{
	color: #f8463d;
}

/*accordion*/
.st-accordion{
    width:100%;
    min-width:270px;
    margin: 0 auto;
}
.st-accordion ul li{
    border-bottom: 1px solid #c7deef;
    border-top:1px solid #fff;
    overflow: hidden;
    height: 70px;
}
.st-accordion ul li:first-child{
    border-top:none;
}
.st-accordion ul li > a{
    font-size: 150%;
    display: block;
		position: relative;
		line-height: 2.8em;
		font-size: 180%;
		font-weight: bold;
		outline:none;
		-webkit-transition:  color 0.2s;
		-moz-transition:  color 0.2s;
		-o-transition:  color 0.2s;
		-ms-transition:  color 0.2s;
		transition:  color 0.2s;
		background-color: #4BB699;
		color: #fff;
		text-align: center;
		height: 70px;
		background-repeat: no-repeat;
		background-position: 25px 50%;
		text-decoration: none !important;
}
.st-accordion ul li > a:hover{
	text-decoration: none;
}
.st-accordion ul li > a span{
	background: transparent url("/front/images/down.png") no-repeat center center;
	text-indent:-9000px;
	width: 26px;
	height: 14px;
	position: absolute;
	top: 50%;
	left: 25px;
	margin-top: -7px;
	opacity:1;
	-webkit-transition:  all 0.5s;
	-moz-transition:  all 0.5s;
	-o-transition:  all 0.5s;
	-ms-transition:  all 0.5s;
	transition:  all 0.5s;
}
.st-accordion ul li > a:hover span{

}
.st-accordion ul li.st-open > a{
    color: #fff;
    text-decoration: none;
}
.st-accordion ul li.st-open > a span{
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
    transform:rotate(-90deg);
	right:10px;
	opacity:1;
}
.st-content{
    padding: 5px 0px 30px 0px;
}
.st-content p{
    font-size:  16px;
    font-family:  Georgia, serif;
    font-style: italic;
    line-height:  28px;
    padding: 0px 4px 15px 4px; 
}
.st-content img{
    width:125px;
    border-right:1px solid #fff;
    border-bottom:1px solid #fff;
}
@media screen and (max-width: 320px){
	.st-accordion ul li > a{
		font-size:36px;
	}
}
#st-accordion .complit {
    background: transparent url("/front/images/check.png") no-repeat scroll 100% 50%;
    font-size: 60%;
    font-style: italic;
    font-weight: normal;
    min-width: 30px;
    padding-right: 38px;
    position: absolute;
    right: 20px;
    top: 0;
}

/*avatar*/
#upload-demo{
	margin-top: 10px;
}
#upload{
	display: none;
}
#default_img{
	text-align: center;
	margin: 10px 0 20px 0;
}
#default_img img{
	text-align: center;
	width: 215px;
}
#label_for_upload_file{
	display: block;
	padding: 7px 10px;
	background-color: #FD773D;
	color: #fff;
	width: 180px;
	margin: 0 auto;
	font-size: 110%;
	cursor: pointer;
}
#label_for_upload_file:hover{
	background-color: #DC6938;
}
#label_for_upload_file i{
	font-size: 110%;
	float: right;
	margin-top: 2px;
}

/**/
#st-accordion .btn-success{
	width: 200px;
	margin: 0 auto;
	margin-top: 20px;
	display: block;
	font-weight: bold;
	font-size: 130%;
}

#st-accordion .static_tooltip{
  color: #656565;
  font-size: 110%;
  line-height: 1.3em;
  margin-top: 30px;
}
#more_info_teach .form-group{
	margin-bottom: 0;
}
#more_info_teach .checkbox label{
	color: #656565;
  font-size: 120%;
}
#price_block input, #price_block select{
	width: 30%;
	display: inline-block;
	margin-right: 5px;
} 
#group_size_block input{
	display: inline-block;
	width: 60px;
	margin: 0 10px;
}
.grey_text {
  color: #656565;
  font-size: 120%;
  font-weight: normal;
}
#group_block>label.grey_text {
	margin-top: 5px;
	margin-right: 20px;
}
#group_block>label.grey_text input{
	margin-right: 7px;
}
#group_size_block label{
	margin-top: 0;
}
.subject_name{
	height: 50px;
}
.subject_name, .subject_detail{
	width: 250px !important;
	display: inline-block;
}
textarea.form-control.subject_detail{
	height: 70px !important;
    margin-bottom: -30px;
    margin-left: 20px;
}
.subject_one_block{
	margin-bottom: 40px;
}

    .cropit-preview {
        background-color: #f8f8f8;
        background-size: cover;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-top: 7px;
        width: 250px;
        height: 250px;
      }

      .cropit-preview-image-container {
        cursor: move;
      }

      .image-size-label {
        margin-top: 10px;
      }

      input, .export {
        display: block;
      }

      button {
        margin-top: 10px;
      }
