body {
	/*font-family: "PT Sans",Helvetica,Arial,sans-serif;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	background-color: #F3F6F9;
	background-color: #ECEFF3;
	line-height: 1.35em;
}
body, html { overflow-x:hidden; }
h1{
	margin: 10px 0;
}
a{
	text-decoration: none;
	transition: all 0.7s ease;
	transition: color 0.1s ease;
}
ul{
	padding: 0;
	margin: 0;
}
li{
	list-style-type: none;
}
label {
    font-weight: normal;
}
.fa {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}
.fa-book{
    background-image: url(/front/images/icons/book.svg);
    background-size: 13px;
}
.fa-map-marker{
    background-image: url(/front/images/icons/map-marker.svg);
    background-size: 15px;
}
.fa-money{
    background-image: url(/front/images/icons/money.svg);
    background-size: 15px;
}
.fa-users{
    background-image: url(/front/images/icons/users.svg);
    background-size: 15px;
}
.fa-tree{
    background-image: url(/front/images/icons/tree.svg);
    background-size: 16px;
}
.fa-male{
    background-image: url(/front/images/icons/children.svg);
    background-size: 16px;
}
.fa-address-book-o{
    background-image: url(/front/images/icons/address-book-o.svg);
    background-size: 14px;
}
.fa-tag{
    background-image: url(/front/images/icons/tag.svg);
    background-size: 12px;
    background-position: 50% 0;
}
.fa-plus-circle{
    background-image: url(/front/images/icons/plus-circle.svg);
    background-size: 15px;
    background-position: 50% 0;
}
li a.active{
    background-color: #ff7d45  !important;
    color: #fff !important;
}
.navbar-default .navbar-toggle .icon-bar {
        background-color: #6d87a5;
}
input:focus{
    outline: none;
    border-radius: 3px;
}
.check:after{
    font-family: "FontAwesome";
    content: "\f00c";
    color: #61d00d;
}
.uncheck:after{
    font-family: "FontAwesome";
    content: "\f068";
    color: #fb8430;
}
.check, .uncheck{
    text-align: center;
}
.heavy{
    font-weight: bold;
    text-align: right;
    color: #8a50b5;
}
.lets_go{
    color: #ff4800;
    font-size: 18px;
    text-align: center;
    padding: 10px 0px;
}
.navbar-default .navbar-toggle {
    border: none;
    background: #ffd714;
    margin-top: 8px;
    margin-bottom: 0px;
    padding: 10px 16px;
    border-radius: 3px;
    z-index: 10000;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: #ffc800 !important;
    cursor: pointer;
}
#wowknow_fb_group{
    background: url(/front/images/fb_light.png);
    width: 24px;
    height: 24px;
    display: block;
    background-repeat: no-repeat;
    background-position: 50% 2px;
    padding: 14px 14px;
    margin-top: 8px;
    margin-right: 9px;
    /* border: 1px solid #aeadc6; */
    border-radius: 2px;
}
#univer_page{
    background-color: #fff;
}
.ads_top_gorizont{
    margin-bottom: 15px;
    max-height: 100px;
}
#share_page_block_tutor{
    float: right;
}
#share_page_block_tutor i{
    font-size: 14px !important;
}
#share_page_block_tutor a{
    padding:3px 5px 5px 5px;
    border-radius: 10px;
}
#share_block_wrapp{
    text-align: right;
    margin-bottom: -15px;
    margin-right: -17px;
}
#share_page_block i{
    font-size: 15px !important;
}
#share_page_block_tutor p{
    font-style: italic;
    color: #939393;
    font-size: 11px;
    margin: 0 3px 1px 0;
    text-align: right;
    line-height: 12px;
}
#share_page_block p{
    margin-bottom: 0px;
    color: #656565;
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 15px;
    text-align: right;
    padding-right: 19px;
}
#share_page_block .btn{
        padding: 2px 5px;
}
#similar_posts{
    margin-top: 15px;
        padding: 0 6px;
}
#similar_posts p{
    font-size: 19px;
    margin-bottom: 5px;
    display: block;
}
#similar_posts a{
        font-size: 15px;
    margin-bottom: 5px;
    display: block;
    color: #381969;
    height: 100%;
    background: #eaeaea;
    border-radius: 4px;
}
#similar_posts a:hover{
    text-decoration: none;
}
#similar_posts .post_title{
        font-size: 15px;
    margin-bottom: 5px;
    display: block;
    line-height: 18px;
        padding: 0px 6px;
}
#similar_posts .one_similar_post{
    margin-bottom: 15px;
        height: 200px;
        overflow: hidden;
        padding: 0 9px;
}
#similar_posts .one_similar_post .img_wrapp{
        max-height: 130px;
    overflow: hidden;
    margin-bottom: 5px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}
#similar_posts a{
    font-size: 15px;
    margin-bottom: 5px;
    display: block;
        color: #381969;
}
#similar_posts .similar_title{
    margin-bottom: 20px;
    font-weight: bold;
    margin-top: 35px;
    margin-left: -6px;
    font-size: 26px;
}
#one_page_blog #similar_posts img{
    width: 100%;
    margin: 0;
        padding: 0;
}
#one_page_blog #similar_posts ul{
    padding: 2px 0 5px 0px;
    margin-bottom: 11px;
}

#wowknow_fb_group_footer{
    padding: 7px;
    background: url(/front/images/fb_light.png);
    display: block;
    background-repeat: no-repeat;
    background-position: 0px 50%;
    padding-left: 33px;
    max-width: 195px;
    border: 1px solid #313056;
    border-radius: 2px;
    color: #ffffffcf !important;
}
#wowknow_fb_group_footer:hover{
    border: 1px solid #fff;
}
.dropdown-menu > li > a {
    padding: 7px 20px;
}
.dropdown-menu {
    border: none;
}
.grey_color{
    color: #8c8c8c;
}
.little_grey{
color: #8c8c8c;
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
}
.a_little{
    font-size: 14px;
}
.bold{
	font-weight: bold;
}
.btn-xs, .btn-group-xs > .btn {
    font-size: 14px;
}
.fa-exclamation-circle{
	color: orange;
}
.small_text{
	font-size: 0.65em;
}
.no_padding{
    padding: 0;
}
.no_margin{
	margin: 0;
}
.one_teacher{
    margin-bottom: 15px;
    border-bottom: 11px solid #eceff3;
    padding-bottom: 15px;
    position: relative;
}
.tutor_select_gender{
    text-align: right;
}
#top_current_page_menu{
    margin-bottom: 10px;
    padding-bottom: 0px;
}
#top_current_page_menu .select2-container--default .select2-selection--single {
background-color: #ffffff;
    background-image: none;
    border-radius: 0;
    width: 100%;
    font-size: 110%;
    padding: 6px 0px 0 6px;
    height: 40px;
    color: #656565;
    border: none;
    border-left: 3px solid #ffa500;
}
#top_current_page_menu i{
    margin: 0 auto;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 4px;
    margin-top: 2px;
}
#top_current_page_menu #accordion > div{
    padding-right: 0px;
}
.no_padding_left{
	padding-left: 0;
}
.no_padding_right{
	padding-right: 0;
}
#title_top_part{
    display: block; padding: 8px 0px 5px 0px;
}
#title_bottom_part{
    display: block; padding: 0px 0px 8px 0px;
    font-size: 80%;
}
.tips_hide{
    background-color: #fff;
    border: 1px solid #bdbdbd;
    border-radius: 6px;
    box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.75);
    display: none;
    font-family: "Open Sans Condensed",sans-serif;
    font-size: 85%;
    margin: 0;
    padding: 3px 7px;
    position: absolute;
    right: 30px;
    text-align: left;
    top: -5px;
    width: 160px;
}
.tips_hide p{
    margin: 0;
}
#main_content{
    margin-top: 15px;
}
.nav > li > a {
    padding: 10px 13px;
}
blockquote {
    border-left: 5px solid #ffb23e;
    font-style: italic;
}
#right_top_menu{
    float: right;
}

.tips_hide .tip_corner {
    background-image: url("/front/images/tooltipe_corner_bottom.png");
    background-repeat: no-repeat;
    bottom: -13px;
    height: 13px;
    position: absolute;
    width: 20px;
}
div[data-tooltip]{
	position: relative;
}
.my_tooltip{
    color: #000;
    position: absolute;
    padding: 8px 10px;
    bottom: -48px;
    z-index: 100;
    background-color: #fff;
    -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.26);
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.26);
    border: 1px solid #616161;
    border-radius: 5px;
}
.my_tooltip:before{
	content: "!";
    background-color: orange;
    padding: 0px 9px;
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 6px;
    color: #fff;
    border-radius: 2px;
}
.my_tooltip:after {
    content: "";
    position: absolute;
    top: -13px;
    left: 11px;
    width: 20px;
    height: 13px;
    background-image: url(/front/images/tooltipe_corner_top_1.png);
}
.border_red
{ 
  border-color: red; 
  border-width:1px; 
  border-style:solid;
}
.fa{
	margin: 0 3px;
}
.clear_both{
	clear: both;
}
.btn{
    border-radius: 2px;
    border: none;
    margin: 0;
    padding: 8px 13px;
    font-size: 15px;
}
.margin-l-20{
	margin-left: 20px;
}
.btn-warning {
    background-color: #fd773d;
    border: none;
    border-radius: 0;
}
.btn-success {
    background-color: #5BC963;
    border-color: #54BB5B;
    color: #fff;
}
.btn-success:hover {
    text-decoration: none;
}
.btn-warning:hover, .btn-warning:active {
    background-color: #dc6938 !important;
}
#toggle_nav{
	float: right;
}
.active_status {
    color: #54BB5B;
}
.no_active_status {
    color: orange;
}
#select_type_of_register a{
    display: block;
    text-align: center;
    background-color: #36354a;
    padding: 25px 0px;
    margin: 3px;
    color: #fff;
    font-weight: 200;
    font-size: 135%;
    font-family: 'Fira Sans Condensed', sans-serif;
}
#select_type_of_register a:last-child{
    background-color: #4d8ea8;
}

#select_type_of_register a:hover{
    background-color: #f3692d;
    text-decoration: none;
    cursor: pointer;
}
#page_title {
    font-family: 'Fira Sans Condensed', sans-serif;
    text-align: center;
        margin-bottom: 15px;
    background: #ffffff;
    font-weight: normal;
    border-bottom: 1px solid #e3e9f0;
}
#page_title h1 {
    color: #48467a;
    font-weight: 400;
    font-size: 26px;
    margin: 20px 0;
}
#front_top_img{
    margin-top: -50px;
    width: 100%;
    height: 700px;
    background-image: url(../images/front_img_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#process{
    background-color: #fff;
    padding: 70px 0px;
    text-align: center;
}
#process img{

}
#promo_img {
    position: relative;
}
#promo_img #form_find_tutor{
    width: 422px;
    position: absolute;
    top: 190px;
    left: 20px;
}
#promo_img #find_tutor{
background-color: #fd773d;
    color: #fff;
    width: 32%;
    display: inline-block;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 18px;
    padding: 0px;
    padding-top: 9px;
    height: 43px;
    letter-spacing: 0.02em;
}
#promo_img select#subject_name{
    color: #fff;
    width: 63%;
    display: inline-block;
    padding: 5px 10px;
}
#promo_img .select2-container--default .select2-selection--single {
    padding: 7px;
    background-color: #ffffff;
    font-size: 110%;
    height: 43px;
    border-radius: 2px;
    font-family: "Fira Sans Condensed", sans-serif;
    color: #ccc;
}
#promo_img .select2-container--default .select2-selection--single .select2-selection__arrow {
    right: 5px;
    top: 4px;
}
#promo_img #form_find_tutor h2{
    font-family: 'Roboto Slab', serif;
    color: #fff;
    font-size: 35px;
    line-height: 38px;
    margin-bottom: 25px;
}
.panel-body .info_tips{
	color: #ccc;
	line-height: 1.3em;
	margin-bottom: 23px;
}
#add_subject_block{
	margin-bottom: 30px;
	padding:0px;
	text-align: center;
}
#do_not_find_subject{
	font-size: 100%;
	color: #ccc;
	margin: auto;
	text-align: right;
	cursor: pointer;
}
#do_not_find_subject:hover{
	color: #0d1e30;
}
#do_not_find_subject span{
	border-radius: 4px;
	border: 1px solid #ccc;
	padding: 0 3px;
}
#create_new_subject_wrap_block{
	margin-bottom: 20px;
}
#create_new_subject_block{
	display: none;
}
#create_new_subject_button{
	height: 36px;
	margin-left: 10px;
}
#sucess_create_new_subject{
	display: block;
	margin-left: 190px;
}
.navbar {
	margin: 0;
	border: none;
	min-height: 20px;
	height: 48px;
}
.navbar-nav > li > a, .navbar-nav > li#select_valute {
padding-bottom: 14px;
    padding-top: 14px;
}
.navbar-static-top{
    font-family: "Fira Sans Condensed",sans-serif;
    font-size: 110%;
    background-color: #788aa3;
}
#non_collapse_navbar .main_link_nav{
    width: auto;
}
#non_collapse_navbar{
    float: left;
            position: absolute;
    left: 0px;
    top: 0;
}
#bs-example-navbar-collapse-1{

}
#bs-example-navbar-collapse-1 .main_link_nav{
    width: 100%;
}
#selec_valute{
    border: none;
    background-color: transparent;
    color: #b5b5b5;
    cursor: pointer;
    font-size: 90%;
}
.navbar-right{
    font-size: 90%;
}
.navbar-right > li > a {
    padding: 14px 14px;
}
/*del*/
.navbar-static-top .btn-info{
    font-size: 100%;
    border: none;
}
.btn-info{
/*    color: #fff;
    background-color: #60cac5;
    border-color: #50ada8;*/
}
.navbar-default .navbar-nav.main_link_nav{
    width: 100%;
}
.navbar-default .navbar-nav.main_link_nav > li > a:hover{
    background: #fd773d;
    color: #fff ;
}
.navbar-default .navbar-nav.main_link_nav > li > a.btn-info:hover{
    background: unset;
    color: #fff;
}
.navbar-default .navbar-nav.main_link_nav > li > a.logo_link:hover{
	background: transparent;
}
.navbar-default .navbar-nav.main_link_nav > li > a{
color: #fff;
    background-color: transparent;
    text-align: left;
    padding: 14px 17px;
    display: flex;
    align-items: center;
}
.navbar-nav.main_link_nav .logo_link {
    font-family: sans-serif;
    font-size: 18px;
}
#flash_message, #flash_message_long_time{
    position: fixed;
    top: 10%;
    z-index: 1000;
    text-align: center;
    width: 100%;
    margin: 0 auto;

}
#flash_message, #close_flash_message{
	float: right;
    color: #fff;
    padding-top: 10px;
    display: block;
    cursor: pointer;
}
#flash_message_wrapp{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 17px;
    width: 50%;
    display: inline-block;
}
#flash_message_text{
	background-color: #d0fdc5;
    padding: 10px 36px;
    color: #090810;
    border-radius: 3px;
    display: inline-block;
}

/*****/
nav #unread_message, nav #sent_request{
    padding: 2px 5px 3px 4px;
    font-family: "PT Sans",Helvetica,Arial,sans-serif;
    font-size: 0.7em;
    display: block;
    position: absolute;
    top: 6px;
    left: 21px;
}
nav #sent_request{
    left: 34px;
}
#requests_page .label-danger{
position: absolute;
    top: -6px;
    left: -6px;
    padding: 4px 6px;
}
#requests_page .write_message, #requests_page .accept_request{
	position: relative;
	margin-bottom: 3px;
}
.panel {
  background-color: #fff;
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 7px;
}
/*#content_app_sidebar .panel {
  background-color: transparent;
}*/
#cities_univer.panel {
  background-color: #fff;
}
#tutor_block.panel {
  background-color: #fff;
}
.form-group {
    margin-bottom: 20px;
}
.modal-dialog .form-group {
    margin-bottom: 12px;
}
.modal-dialog .form-horizontal .checkbox {
    padding-top: 0px;
    min-height: 20px;
}
.tips{
	display: inline-block;
	font-size: 85%;
	color: #ccc;
	margin: auto;
	vertical-align: middle;
	line-height: 1.2em;
}
.one_form_block{
	padding: 0px ;
	margin-bottom: 17px;
	/*	display: flex;
	align-items: center;*/
}
.one_form_block .control-label, .one_form_block .tips{
	padding: 0px;
}
#localteach_place .checkbox{

}
.tips:before {
 content:"!";
 background-color: #DBDBDB;
 color: #fff;
 padding: 0px 7px;
 font-weight: bold;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
 border-radius: 100px;
 font-weight: bold;
 font-size: 100%;
 margin-right: 3px;
}
.input-wrap{
	width: 420px;
	display: inline-block;
}
#foto_content{
    margin: 8px 0 35px 0;
    padding: 12px 9px 21px 9px;
    background-color: #faf8f5;
    border: 1px solid #fce3e3;
}
#label_foto_content { 
    margin-top: 12px;
    margin-bottom: 0px;
    text-align: center;
 }
#label_foto_content a{ 
    font-size: 14px;
    display: block;
    line-height: 15px;
 }
#label_foto_content strong { 
    font-size: 16px;
 }
#foto_content label:first-child{
	margin: auto 0;
}
.bd-top{
	border-top: 1px solid #dedddd;
	margin: 0;
	padding-top: 15px;
}
label.control-label{
    margin: auto 0;
    font-weight: normal;
    vertical-align: middle;
}
#local_teach_detail, #skype_login_block, #local_place_teach{
	border-left: 3px solid #dedddd;
    margin-bottom: 0px;
}
#side_bar label.side-bar-label{
    background-color: #71a8bd;
    color: #fff;
    display: block;
    font-family: "Fira Sans Condensed",sans-serif;
    font-size: 120%;
    padding: 5px 10px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    font-weight: 300;
}
#top_current_page_menu .panel-body{
        padding: 4px 0px;
}
label.gender {
	margin: 8px 8px 6px 0;
	font-weight: normal;
}
label.gender input {
	display: inline-block;
	margin-right: 4px;
	color: green;
}
#st-accordion .gender input{
	margin-right: 7px;
}
#st-accordion .gender{
  color: #656565;
  margin: 5px 15px 8px 0;
}
.mt_30{
    margin-top: 30px;
}
input.form-control, select.form-control, textarea.form-control  {
    background-color: #f8fafb;
  background-image:none;
  border:1px solid #ccc;
  border-radius: 4px;
  box-shadow:rgba(0, 0, 0, 0.0745098) 0 1px 1px;
  /*width: 310px;*/
  font-size: 100%;
  padding: 5px 8px;
  height: 37px;
  color: #656565;
  display: inline-block;
  margin: auto 0;
  vertical-align: middle;
}
.checkbox_group{
	/*width: 410px;*/
	display: inline-block;
	vertical-align: middle;
}
#company_block .course_cat{
    display: inline-block;
    width: 47%;
}
#headingTwo label{
    padding-bottom: 9px;
}
#company_block h3{
    margin-top: 20px;
    margin-left: -15px;
    margin-bottom: 15px;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 16px;
    border-bottom: 5px solid #f2f2f2;
    background: #f7f7f7;
    background-color: #ffffff;
    background-image: url(/front/images/absurdity.png);
}
#company_block hr {
    margin-top: 4px;
}
#top_current_page_menu select option {
    font-size: 100% !important;
}
#top_current_page_menu .select2-container--default .select2-selection--single{
    font-size: 100% !important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 3px !important;
}
#company_block .course_adress_link {
    margin-top: 10px;
}
#company_block .group_name{
    padding: 4px 10px;
    border-top: 1px solid #dedede;
    cursor: pointer;
    color: #205992;
    background-color: #fff;
/*    background-image:url("/front/images/plus.png");
    background-repeat: no-repeat;
    background-position: 0 0;*/
}
#company_block .group_name[aria-expanded="true"]{
    background-color: #eaeaea;
}
#company_block .group_name:hover{
    background-color: #eaeaea;
}
#company_block .group-body{
    margin-left: 12px;
    margin-top: 5px;
}
#company_block .course_cat label{
    margin-bottom: 8px;
    font-size: 90%;
}
#company_block .count_checked{
    font-weight: bold;
    font-size: 15px;
    display: none;
    background-color: #fdeae1;
    border: 1px solid #ff945f;
    padding: 0px 7px;
    border-radius: 2px;
}
#company_block .nav-pills > li > a,
.lands_inputs .nav-pills > li > a {
    border-radius: 0px;
    padding: 1px 3px;
    font-size: 85%;
}
#company_block .nav-pills > li,
.lands_inputs .nav-pills > li  {
    border-right: 1px solid #ccc;
    margin: 0px;
}
#company_block .nav-pills > li.active > a, #company_block .nav-pills > li.active > a:focus,
.lands_inputs .nav-pills > li.active > a, .lands_inputs .nav-pills > li.active > a:focus {
    color: #337ab7;
    background-color: #eaeaea;
}
#company_block label.gender {
    margin: 3px 8px 3px 0;
    font-weight: normal;
    display: block;
}
#company_block .price_free input {
    width: 30px;
    margin-top: 4px;
    float: right;
}
#company_block .nav-pills i.fa-check-square,
.lands_inputs .nav-pills i.fa-check-square {
    color: #00b929;
    font-size: 110%;
    display: none;
}
#create_language .one_form_block {
    margin-bottom: 30px;
}
#create_language label {
    padding-top: 24px;
}
#create_language i.fa-pencil {
    color: #afafaf;
}
#company_block table .course_name {
    margin-top: 0px;
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 10px;
}
#company_block .course_active_block label.css-label {
    background-image: url(/front/images/bgcheckbox_green.png);
}
#checkboxes-region .form-group{
	display: block;
}
.checkbox, .radio{
	margin-top: 0;
	margin-bottom: 12px;
}
#checkboxes-region .control-label{
	padding-bottom: 10px;
	font-weight: bold;
}
/*
#skype_login_block input{
	width: 180px;
	margin-top: 4px;
}*/
#checkboxes-region #skype_login_block .control-label{
	padding-bottom: 0px;
}
textarea.form-control {
    height: 230px;
}
#company_block textarea.form-control {
	height: 215px;
}
select.form-control option{
	padding: 7px;
	border-bottom: 1px solid #fff;
	font-size: 110%;
	color: #656565;
}
select.form-control{
	/*color: #999;*/
}
input.form-control:focus{
	border-color: #90CAFA;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #b5b5b5;
    background-color: transparent;
}
.require{
    color: red;
    display: inline-block;
    font-size: 170%;
    height: 10px;
    margin-left: 0px;
    position: relative;
}
.require:after {
    color: red;
    content: "*";
    float: right;
    margin-top: -8px;
}
#price_block_company #price_free{
    color: #8f8f8f;
    float: right;
}
#price_block_company #price_free input{
    display: inline-block;
    margin-right: 3px;
}

/*avatar*/
.image-editor{
	float: left;
	margin-left: 10px;
}
#upload-demo{
	margin-top: 10px;
}
#upload{
	display: none;
}
#isset_image{
	display: inline-block;
}
#isset_image img{
    text-align: center;
    width: 180px;
}
#company_block #isset_image img{
	text-align: center;
	width: 135px;
}
#search_page .flag {
    margin-left: 0px;
}
#label_for_upload_file{
    margin-top: 7px !important;
	padding: 7px 10px;
	background-color: #546ba0;
	color: #fff;
	width: 225px;
	font-size: 110%;
	cursor: pointer;
	text-align: left;
}
#label_for_upload_file:hover{
	background-color: #DC6938;
}
#label_for_upload_file i{
	font-size: 110%;
	float: right;
	margin-top: 2px;
}
#more_info_teach .form-group{
	margin-bottom: 0;
}
#more_info_teach .checkbox label{
	color: #656565;
  font-size: 120%;
}
#price_block input, #price_block select{
	width: 72px;
	display: inline-block;
	margin-right: 5px;
} 
#price_block input{
	width: 92px;
} 
#exp_block .form-control{
	margin-right: 15px;
    width: 95px;
}
#exp_block span{
	margin-top: 5px;
}
#group_size_block input{
	display: inline-block;
	width: 60px;
	margin: 0 10px;
}
#group_size_block label{
	
}
#group_size_block{

}
#group_size_block label.control-label{
	max-width: 100%;
}
#group-inputs-block label{
	display: block;
	margin-bottom: 2px;
}
#group-labels{
	display: inline-block;
}
#group-inputs-block input{
	display: inline-block;
	margin-right: 5px;
}
.grey_text {
  font-weight: normal;
}
#group_block>label.grey_text {
	margin-top: 5px;
	margin-right: 20px;
}
#group_block>label.grey_text input{
	margin-right: 7px;
}
#group_size_block label{
	margin-top: 0;
}
.subject_name{
	height: 50px;
}
.subject_name{
	width: 250px !important;
	display: inline-block;
}
textarea.subject_detail{
	height: 90px;
 	font-size: 100%;
}
textarea.subject_direction_detail{
    height: 70px;
    font-size: 100%;
    margin-top: 3px;
    line-height: 1.2em;
}
#create_new_subject_block{
	margin-top: 12px;
}
#create_new_subject_block .form-group{
	display: block;
}
#create_new_subject_block input, #create_new_subject_block span{
	vertical-align: top;
}
#create_new_subject_block #create_new_subject_title{
	margin-bottom: 20px;
}
#add_subject{
	font-size: 110% !important;
}
#add_subject i{
	font-size: 130% !important;
}
.subject_one_block{
	margin-bottom: 20px;
	border-bottom: 1px solid #ededed;
	padding: 0px;
}
.subject_one_block .form-group:first-child{
	margin-bottom: 20px;
}
.subject_one_block .delete_subject {
	color: #e74c3c;
	margin-left: 10px;
	float: right;
    margin-right: 20px;
}
.subject_one_block .delete_subject .fa.fa-minus-circle {
	margin-right: 3px;
}
.time_edu_block select{
    margin-right: 15px;
    width: 148px;
}
/*
#tutor_education_text textarea, #tutor_hobie_text textarea{
	width: 420px;
}
*/
#tutor_education_text label.control-label, #tutor_hobie_text label.control-label {
    
}
#tutor_education_text {
    margin-bottom: 25px;
}

    .cropit-preview {
        background-color: #f8f8f8;
        background-size: cover;
        border: 1px solid #ccc;
        border-radius: 3px;
        width: 220px;
        height: 220px;
        margin: 0 auto;
      }

      .cropit-preview-image-container {
        cursor: move;
      }

      .image-size-label {
        margin-top: 10px;
      }

      input, .export {
        display: block;
      }

      button {
        margin-top: 10px;
      }

.image-editor{
	display: none;
}
.cropit-preview-background {
  opacity: .2;
}

.image-size-label{
	width: 260px;
	margin:0 auto; 
	margin-top: 25px;
}
.cropit-image-zoom-input{
	width: 200px !important;
	margin: 0 auto;
	display: inline-block;
}
.image-size-label i {
	display: inline-block;
}

/*страница поиска репетитора*/

#search-task .panel-body{
	padding: 0 15px;
}

.one_row{
    background-color: #fff;
}
#search-tutor .view_profile a{
    margin-bottom: 2px;
    padding: 6px 11px;
    background: #77c0d7;
}
#tut_info .send_mail_open_modal{
    margin-bottom: 2px;
    padding: 5px 11px;
    text-align: center;
    font-size: 16px;
    background: #39ca95;
}
#search-tutor{
    background-color: transparent;
}
#reg_from_mod_login{
background: transparent;
    color: #90a0ad;
    float: right;
    border: 1px solid #dcdcdc;
}
#captcha_verify{
    color: red;
    font-size: 12px;
}
.view_profile i {
	color: #5bc0de ;
}
#side_bar .send_mail_open_modal{
    margin-bottom: 5px;
        width: 145px;
}
#side_bar .panel{
	background-color: #fff;
}
#side_bar #teacher_page_side_bar{
	text-align: right;
}
#side_bar #teacher_page_side_bar #tutor_reviews{
	margin-top: 20px;
	text-align: left;
}
#reviews{
    background-color: #fff;
    padding: 15px 17px;
    margin-top: 30px;
    position: relative;
}
#reviews textarea.form-control {
        height: 150px;
    margin-top: 10px;
}
#reviews label {
    text-align: left;
}
#review_title {
    display: inline-block;
    color: #fff;
    padding: 11px 32px;
    background-color: #886dff;
    position: absolute;
    top: -15px;
    font-size: 19px;
    border-radius: 3px;
}
.margin_b_0{
    margin-bottom: 0;
}
#side_bar #tutor_reviews .one_review{
	background-color: #efefef;
    padding: 8px 10px;
    margin-bottom: 6px;
    border-radius: 2px;
    line-height: 1.2em;
    font-size: 0.97em;
    position: relative;
}
#show_all_teacher_reviews .one_review{
	background-color: #efefef;
    padding: 8px 13px;
    margin-bottom: 30px;
    border-radius: 2px;
    line-height: 1.4em;
    font-size: 0.97em;
    position: relative;
}
#show_all_teacher_reviews .review_type{
    position: absolute;
    left: -10px;
    top: 0;
    font-size: 1.3em;
    background-color: #fff;
    border-radius: 300px;
    padding: 2px 1px;
}

#side_bar .sidebar_title i{
	color: #FD773D;
	font-size: 1.1em;
}
#tutor_page .institut_degree, #tutor_page .institut_time {
	font-size: 0.9em;
}
#tutor_page .institut_degree {
	line-height: 1.2em;
	margin-top: 3px;
}
#tutor_page .institut_name{
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 2px;
}
#tut_name span.tutor_country_sity{
    color: #888888;
    font-size: 14px;
}
#tutor_page .one_institut{
    padding: 5px 10px;
    background-color: #f2f2f2;
    border-radius: 2px;
    margin-bottom: 7px;
}
#tutor_page #tutor_reviews .review_author{
    color: #dadada;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1px 3px;
    font-size: 0.8em;
    border-radius: 1px;
}
#show_all_teacher_reviews .review_author{
    color: #ccc;
    position: absolute;
    right: 0;
    bottom: -18px;
    padding: 1px 3px;
    font-size: 0.9em;
    border-radius: 1px;
}
#side_bar #tutor_reviews #look_all_reviews{
    cursor: pointer;
    background-color: #eaf5ff;
    display: inline-block;
    padding: 1px 8px;
    border-radius: 2px;
    border: 1px solid #c1def9;
    font-size: 0.84em;
    color: #5f6273;
}
#side_bar .sidebar_title{
	font-weight: bold;
	margin-bottom: 5px;
}
#tutor_page #tutor_education{
	text-align: left;
}
#search-task .one_row{
    border-bottom: 17px solid #eceff3;
    padding: 10px 15px 10px 20px;
}
.one_row img{
    width: 100%;
    height: auto;
}
.one_row img.user_avatar{
    width: 100%;
    max-width: 120px;
    height: auto;
}
.one_row .teacer_avatar_block{
    float: left;
    padding-right: 10px;
}
.one_row .name a {
font-size: 140%;
    line-height: 22px;
    display: inline-block;
    max-width: 375px;
    overflow: hidden;
        max-height: 35px;
}
.one_row .name .flag {
    /*margin-bottom: 5px;*/
}
.one_top_tut{
    margin-bottom: 8px;
    background-color: #fff;
    padding: 6px 6px;
    position: relative;
    max-width: 285px;
    height: 82px;
    overflow: hidden;
}
.top_courses .one_top_tut{
    padding: 5px 10px;
    height: 80px;
}

/* удалить top_tutors top_courses */
.top_tutors h4, .top_courses h4{
    background-repeat: no-repeat;
    background-position: 100% 50%;
    padding: 2px 2px 0px 0px;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 7px;
    text-align: center;
}

.top_tutors h4:after, .top_courses h4:after{
    background-image: url(/front/images/corona_icon.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    content: '';
    width: 27px;
    height: 19px;
    position: absolute;
}
.top_tutors h4 span, .top_courses h4 span{
color: #ff7700;
}
.top_tutors .subjects{
font-size: 11px;
    color: #b2b2b2;
    position: absolute;
    bottom: 0;
    right: 5px;
}
.top_courses, .top_tutors{
    margin-bottom: 20px;
}
.top_courses .company_type{
    /*width: 1ch;*/
    text-align: center;
    word-wrap: break-word;
    position: absolute;
    bottom: 3px;
    right: 3px;
    font-size: 11px;
    line-height: 0.9;
    color: #00b5be;
}
.top_courses .subjects{
    margin-top: 4px;
    font-size: 12px;
    line-height: 12px;
    color: #9b9b9b;
    padding-left: 17px;
}
.top_courses .subjects i{
    margin-left: -14px;
    margin-right: 1px;
}
.top_tutors .subjects .subject:after{
 content: ',';
}
.top_tutors .subjects .subject:last-child:after{
 content: '';
}
.reklama_right_side_bar{
    margin-bottom: 15px;
}
.one_top_tut .avatar{
    width: 58px;
    float: left;
    margin-right: 5px;
}
.one_top_tut .name{
    font-weight: bold;
    font-size: 15px;
    overflow: hidden;
}
.top_courses .one_top_tut .name{
margin-bottom: 5px;
    line-height: 16px;
    max-height: 32px;
    overflow: hidden;
}
.one_top_tut .profile_title{
    font-size: 13px;
    overflow: hidden;
    color: #8a8a8a;
    line-height: 14px;
}
.one_top_tut a:hover{
    text-decoration: none;
}
.one_top_tut .avatar img{
    width: 100%;
    border-radius: 50%;
}

.one_row h5.profile_title a, .one_row h5.task_title{
    font-size: 15px;
    color: #007ea3;
}
.one_row h5.profile_title{
    margin-top: 0px;
    margin-bottom: 5px;
}
#search-task .one_row h5.task_title:hover{
	color: #506275;
	cursor: pointer;
}

#search-task .one_row .show_task{
	float: left;
    margin-top: 5px;
    margin-bottom: -10px;
    margin-left: -20px;
    margin-right: 0px;
    padding: 2px 7px;
    padding-bottom: 4px;
    color: #fff;
    background-color: #8dbfd2;
}
.one_row .profile_about, .one_row .task_about, .one_row .show_task{
	font-size: 14px;
	color: #6E6E6E;
	line-height: 1.2em;
}
#search-task .one_row .task_about{
    margin-left: -10px;
    max-height: 37px;
    overflow: hidden;
    padding-top: 2px;
    margin-top: 3px;
    border-top: 1px solid #f1f0f0;
}
.link_tutor .btn {
	width: 125px;
}
.link_pupil .btn {
	width: 138px;
}
.one_row {
	font-size: 100%;
	padding-left: 15px;
    padding-right: 15px;
}
.profile_info .name{
	margin-bottom: 2px;
    font-size: 15px;
    color: #000;
}
.profile_info .profile_info_text{
	margin-left: 20px;
}
.profile_info .profile_info_one_block{
	margin-left: 0px;
}
.profile_info .profile_info_block_1{
	width: 240px;
	float: left;
}
.profile_info .profile_info_block_2{
	width: 340px;
	float: left;
}
.teach_subjects .one_subject:after, .top_courses .subject:after {
content: ", ";
    margin-left: -2px;
}
.teach_subjects .one_subject:last-child:after, .top_courses .subject:last-child:after {
    content: "";
}
.teach_subjects {
    font-size: 14px;
    color: #656565;
    margin-bottom: 4px;
}
.one_subject::first-letter {
    text-transform: capitalize;
}
#tutor_page i {
    float: left;
    font-size: 100%;
    margin-top: 3px;
    color: #FD773D;
}
.profile_info i{
font-size: 12px;
    color: #3fc9d0;
    float: left;
    margin-top: 5px;
}
#search_page .profile_info i {
    color: #a9a8a8;
    font-size: 14px;
}
#search_page .more_courses i {
    font-size: 18px;
    font-weight: bold;
    color: #ffa37a;
}
#search_page .adress i {
    float: left;
    font-size: 110%;
    margin-top: 1px;
    color: #fd9262;
}
#search_page .company_text_i {

}

#tutor_page #subject_detail i {
	color: #37dc43;
    margin-top: 2px;
    margin-right: 4px;
    font-size: 1em;
    font-size: 1.2em;
}
#tutor_page #subject_detail .nav-pills > li.active > a i{
    color: #fff;
    background-color: transparent;
}
#tutor_page #tut_info i {
	margin-right: 7px;
}
.profile_info i.fa-map-marker, #tutor_page i.fa-map-marker{
    font-size: 115%;
    margin-top: 2px
}
#tutor_page i.fa-book {
	font-size: 90%;
}
#tutor_page i.fa-users {
	font-size: 90%;
}
.profile_info i.fa-male, .profile_info i.fa-female{
    font-size: 115%;
}
.profile_info i.fa-graduation-cap {
    margin-left: -1px;
}
.profile_info .show_task i.fa {
    margin-top: 5px
}
.profile_info i.fa-arrow-down, .profile_info .show_task i {
    margin-top: 3px !important;
    color: #fff;
}
.profile_info .show_task:hover {
    cursor: pointer;

}
#side_bar .select2-container{
	width: 100% !important;
}
.one_row .view_profile{
    margin-top: 9px;
    text-align: right;
    position: absolute;
    bottom: 10px;
    right: 13px;
}
.one_row .view_profile a{
}
.one_row .send_mail_open_modal {
	/*float: right;*/
}
.one_row .send_meil{
    margin-top: 3px;
    text-align: right;
}
.one_row .price_value {
    font-size: 110%;
    font-weight: bold;
}
.one_row .price_detale{
	color: #6e6e6e;
}
.one_row .price{
	text-align: right;
	line-height: 1em;
}

/*страница репетитора*/
#tutor_avatar img{
	width: 100%;
	height: auto;
}
#tutor_page #tutor_avatar{
	float: left;
    width: 150px;
    height: auto;
    margin-right: 15px;
}#tutor_avatar_sidebar{
    width: 100%;
    margin-bottom: 10px;
}#tutor_avatar_sidebar img{
    width: 100%;
    max-width: 175px;
    height: auto;
}
#tutor_page h2{
	font-size: 150%;
	margin: 0;
	font-weight: bold;
	display: inline-block;
}
h3{
	font-size: 130%;
	margin-top: 10px; 
	font-weight: bold;
}
#tutor_page h4{
	font-size: 100%;
    margin-top: 10px;
    margin-bottom: 3px;
    font-weight: normal;
}
#tutor_page .subject_dir h6 {
    font-size: 105%;
    margin-top: 1px;
    margin-bottom: 0px;
    font-weight: bold;
}
#tutor_page #subject_detail .subject_dir i{
        font-size: 11px;
    margin-top: 4px;
}
#tutor_page .block_info{
    margin-bottom: 12px;
}
.teacher_exp{
	margin-left: 27px;
	margin-bottom: 0;
}
#tutor_page .profile_title h1{
	font-size: 150%;
	margin: 10px 0 5px 0;
	font-weight: bold;
}
#my_profile_link{
    font-size: 0.55em;
    display: block;
}
#my_profile_link a{
color: #ffffff;
    margin-top: 10px;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 2px;
    background: #616072;
}
#my_profile_link.danger_bd a{
    border: 1px solid #f7ff60;
}
#my_profile_link i{
    color: #fcde47;
}
#second_title h2{
    margin: 0 21px 0 -15px;
    font-weight: 700;
    padding: 9px 12px;
    border-top: 3px solid #dbdbdb;
    font-size: 110%;
    background-color: #fff;
    display: inline-block;
}
#company_block #second_title h2{
    border-top: 3px solid #fff;
}
#company_block #second_title h2.active{
    border-top: 3px solid #e74c3c;
}
#about_register_comp ul{
    list-style: none
}
#about_register_comp ul li::before {
    content: "•";
    color: #ff4f25;
    margin-right: 4px;
}
#about_register_comp ul li{
    list-style-type: none;
}
#about_register_comp ol li:before{
    content: counter(item) " .";
    counter-increment: item;
    font-weight: bold;
}
#second_title{
margin-bottom: 18px;
    margin-top: -54px;
}
#save-tutor-info{
	font-size: 120%;
    font-weight: bold;
    margin: 0 auto;
    padding: 8px 50px;
    border-radius: none;
    margin-bottom: 30px;
}
#save-tutor-info-wrap{
	text-align: center;
}
#tutor_block{
    margin-top: 40px;
}
#tutor_block.without_sub_title{
	margin-top: 0px;
}
#tut_info p{
	margin:0;
}
#tut_info {
	margin-top: 8px; 
}
#tut_info > div {
	margin-bottom: 2px;
    border-bottom: 1px solid #eaeaea;
    margin-left: 0px;
    margin-right: 0;
    padding: 3px 0;
}
#subject_detail .nav {
    background-color: rgba(239, 239, 239, 0.81);
}
#subject_detail a:hover{
	background-color: #a5a4a4;
	color: #fff;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #8a8a8a;
    border-radius: 2px;
}
.nav-pills > li > a {
    border-top: 1px solid #ededed;
}
.nav-pills > li > a:first-letter {
    text-transform: uppercase;
}
#subject_detail .tab-content{
	padding: 10px 15px;
}
#tutor_page .subject_dir {
	padding: 2px 0;
	margin-bottom: 4px;
}
#tutor_page .subject_dir i{
	color: #5BC963;
	font-size: 130%;
	margin-right: 8px;
}
i.fa-check-circle{
	color: #5BC963;
}
i.fa-minus-circle{
	color: #FD773D;
}
#search_page .company_info p{
    font-size: 13px;
    line-height: 17px;
    margin-bottom: 0;
}
#search_page .company_info .company_avatar{
    max-width: 70px;
    margin-left: 3px;
    max-height: 70px;
    float: right;
}
#cours_page .company_info .company_avatar{
    max-width: 180px;
    width: auto;
    margin-left: 3px;
    max-height: 300px;
}
#search_page .panel-body{
    padding: 0px 15px;
}
#search_page #cours_page .company_logo_block{
    float: right;
}
#search_page #company_page .company_logo_block{
    float: none;
    text-align: center;
    margin-top: 10px;
}
#search_page .top_item {
    background-image: url(/front/images/top.png);
    background-position: 0 100%;
    background-repeat: no-repeat;
    padding-bottom: 21px;
}
#univer_search_page .one_courses {
    height: 187px;
}
.one_courses .cours_location{
    line-height: 16px;
}
.one_courses i{
    color: #3fc9d0;
}
#top_courses .one_courses {
margin: 0px -8px;
    margin-bottom: 3px;
    padding: 11px 13px;
}
#top_courses_label{
    margin-bottom: 4px;
    font-size: 18px;
}
#top_courses {
    display: none;
    border: 1px solid #feb777;
    padding: 3px 12px;
    padding-bottom: 0px;
    margin-left: -2px;
    margin-bottom: 10px;
}
#search_page .teach_subjects, #search_page .pupil_age_course{
    padding-left: 20px;
    font-size: 14px;
    color: #8c8c8c;
}
#search_page .city, 
#search_page .street{
    padding-left: 3px;
    font-size: 14px;
    color: #8c8c8c;
}
#search_page .school_class {
    font-size: 14px;
    color: #8c8c8c;
}
#search_page .course_price {
    float: right;
    font-weight: bold;
    color: #289ca2;
    font-size: 15px;
}
#search_page .course_free {
    float: right;
    border-radius: 3px;
    padding: 0px 8px;
    color: #45d20d;
    font-size: 95%;
    font-weight: bold;
}
#search_page .online_course .online_inner {
    background: #c0a7f9;
    display: inline-block; 
    color: #fff;
    font-size: 85%;
    border-radius: 3px;
    padding: 0px 2px;
}
#search_page .online_course .online_inner i, #search_page .online_course .online_inner .sub_title {
    color: #fff;
}
#search_page .online_course {
    margin-bottom: 5px;
}
#search_page .online_course .sub_title {
    color: #8a68dc;
    font-weight: normal;
}
#search_page .name {
    margin-bottom: 1px;
    margin-right: 5px;
        line-height: 16px;
}
#search_page .company_name {
    margin-bottom: 5px;
    font-size: 105%;
}
#search_page .this_company_courses {
    display: none;
}
#search_page .more_courses_block {
    margin-bottom: -20px;
    margin-top: 10px;
}
#search_page .this_company_courses .rel_courses_this_comp {
padding: 15px 0px;
    border-bottom: 1px solid #d8e4f5;
}
#search_page .this_company_courses .rel_courses_this_comp:first-child {
    padding-top: 5px;
}
#search_page .name a {
    margin-bottom: 0px;
    display: inline-block;
    padding: 0px 15px 0px 0px;
    border-radius: 3px;
    font-size: 17px;
    letter-spacing: 0.03em;
    font-weight: bold;
    line-height: 17px;
}
.trumbowyg-button-pane button{
    margin-top: 0px;
}
.trumbowyg-editor, .trumbowyg-textarea {
    padding: 5px 10px !important;
}
.trumbowyg-box, .trumbowyg-editor {
    margin: 0px auto !important;
}
.trumbowyg-box, .trumbowyg-editor ul li{
    list-style-type: disc;
}
#cours_page .teach_subjects{
    margin-bottom: 10px;
}
#cours_page .one_courses ul li, #company_page .one_courses ul li{
    list-style-type: disc;
    list-style-position: inside;
}
#cours_page .one_courses ul, #company_page .one_courses ul {
    margin-bottom: 10px;
}
#cours_page .one_courses .teach_subjects ul li {
    list-style-type: none;
}
#cours_page #company_org{
    padding-bottom: 2px;
    font-size: 80%;
    display: inline-block;
    margin-bottom: 17px;
}
#cours_page .company_name{
    font-weight: bold;
    margin-bottom: 7px;
    font-size: 115%;
}
#cours_page .company_logo_block{
    float: right;
    width: 100px;
    margin-top: -5px;
    margin-bottom: 12px;
    margin-right: -5px;
}
#cours_page .one_company_details{
    border-bottom: 1px solid #eaeaea;
    padding: 5px 0px;
}
#cours_page .company_detals{
    margin-left: -11px;
}
#cours_page .city, #cours_page .street {
    padding-left: 0px; 
    font-size: 100%;
}
#cours_page .name h1, #one_page .univer_name h1{
    margin-top: 0px;
    margin-left: 3px;
    font-weight: bold;
    font-size: 29px;
    margin-bottom: 30px;
}

/* univer styles */
#add_reviews label{
    color: #000;
    font-size: 15px;
    text-align: left;
}
#add_reviews input, #add_reviews textarea{
    font-weight: normal;
    font-size: 15px;
}
#add_reviews textarea{
    height: 190px;
}
#add_reviews .form-group {
    margin-bottom: 3px;
}
#univer_page .univer_menu_block{
    margin-bottom: 10px;
}
#univer_page .univer_menu_block li{
    float: left;
    margin-right: 15px;
    color: #3fa1d0;
    cursor: pointer;
}
#univer_page .univer_menu_block li label{
    cursor: pointer;
}
#univer_page .show-contacts{
    display: none;
}
/*#search_page .panel-body.univer_search_menu,
#cities_univer .panel-body.univer_search_menu{
    border-radius: 2px;
    margin-bottom: 0px;
    padding: 15px;
    padding-bottom: 10px;
    border-bottom: solid;
    border-bottom: 14px solid #eceff3;
    background-color: #515065;
background-image: url(/front/images/dark-stripes-light.png);
}*/
.univer_search_menu .select2-container {
    width: 100% !important;
}
.univer_search_menu .col-md-6:first-child {
}
.univer_search_menu .col-md-6:last-child {
    float: right;
}
.univer_search_menu .col-md-6 {
    width: 45%;
    margin-bottom: 5px !important;
}
#cities_univer .panel-body.univer_search_menu{
    margin-top: -15px;
}
.univer_title_block{
    margin-bottom: 16px;
    margin-top: 7px;
}
#univer_page .one_row {
    padding-top: 0px;
}
.univer_aditional_info{
    color: #808080;
}
.univer_aditional_info .univer_subjects {
    margin-left: 17px;
}
.univer_aditional_info .univer_subjects .sub_title {
    color: #fff;
    margin: 0px;
    padding: 8px 5px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    background-color: #75abcf;
    margin-bottom: 1px;
}
.univer_aditional_info .univer_subjects .sub_title i.fa {
    float: none !important;
    color: #fff !important;;
}
.univer_aditional_info .teach_subjects li a{
    line-height: 15px;
    display: block;
    padding: 7px 9px;
    margin-bottom: 1px;
    color: #262883;
    text-decoration: none;
    letter-spacing: 0.02em;
    background-color: #eeeeee;
}
.univer_aditional_info .teach_subjects li a:hover{
    background-color: #e8e1f9;
}
#one_page .univer_short_info table{
    margin-bottom: 0px;
}
#one_page .univer_short_info .table > tbody > tr > td{
    line-height: 0.8em !important;
    font-size: 14px;
    border: none;
}
#univer_page h2.sub_title{
    margin-top: 20px;
    font-weight: bold;
    font-size: 150%;
    margin-bottom: 10px;
}
.univer_description .univer_descr_label{
    margin-top: 10px;
    font-weight: bold;
    font-size: 142%;
    margin-bottom: 10px;
    text-align: center;
    color: #8c64b9;
    letter-spacing: 0.02em;
    border-bottom: 1px solid #efefef;
    line-height: 27px;
}
#add_reviews_label i{
    float: none;
    font-size: 18px;
    margin-top: 3px;
    color: #fff;
}
#add_reviews_label{
background: #b4d6e5;
    color: #fff;
    font-size: 22px;
    letter-spacing: 0.03em;
    text-align: left;
    padding: 0px;
    background-image: url(/front/images/dark-stripes-light.png);
        margin-top: 40px;
}
#add_reviews_label span{
background: #2d87ad73;
    display: inline-block;
    padding: 8px 19px;

}
#add_reviews .block_raiting{
    margin-left: 0px;
    margin-top: 12px;
}
#add_reviews{
    padding: 7px 17px;
}
#add_reviews button i{
    color: #fff;
    float: none;
}
.exist_reviews .hide_stars{
width: 100px;
    height: 19px;
    z-index: 100;
    position: absolute;
    top: 0px;
}
.one_review p{
    margin-bottom: 0px;
}
.one_review{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ededed;
}
.exist_reviews{
    margin-top: 15px;
}
.exist_reviews .one_review:last-child{
    border-bottom: none;
}
.exist_reviews h2.sub_title{
    margin-bottom: 20px;
}
.exist_reviews .wrap_star_reiting{
    margin-bottom: 6px;
}
.exist_reviews .wrap_star_reiting, .exist_reviews .review_meta{
    padding-left: 10px;
    color: #b2b2b2;
    font-size: 11px;
    text-align: right;
    line-height: 12px;
}
.exist_reviews .one_review .wrap_star_reiting{
    position: relative;
}
.exist_reviews .review_like i{
    font-size: 18px !important;
    color: #ccc !important;
    margin-top: 1px !important;
    margin-right: 7px;
}
.exist_reviews .review_like i.fa-smile-o{
    color: #95e79b !important;
}
#add_reviews #star-rating{
    margin-bottom: 8px;
    display: inline-block;
    margin-right: 15px;
}
#add_reviews .block_raiting span{
    color: #a5a5a5;
}
.univer_description h2.sub_title i{
    font-size: 20px !important;
    margin-top: 0px !important;
}
.univer_description h3{
    font-size: 120%;
    margin-top: 5px;
    font-weight: bold;
}
.univer_description ul{
    margin: 5px 10px ;
    margin-top: 2px;
}
.univer_description li strong{
    font-weight: normal;
}
.univer_description ol li{ 
    list-style-type: decimal;
}
.univer_description p{
    margin-bottom: 8px;
}
.univer_description li::before {content: "• "; color: #61d00d}
/*#one_page .univer_short_info table:last-child{
    border-top: none;
}*/
#one_page .univer_short_info{
    margin-top: 15px;
    margin-left: 17px;
}
#one_page .univer_avatar{
    max-width: 114px;
    max-height: 115px;
    width: auto;
    height: auto;
}
#company_page .name h1{
    margin-top: 0px;
    font-weight: bold;
    font-size: 185%;
    margin-bottom: 21px;
}
#company_page .company_detals{
    max-width: 500px;
    margin-top: 10px;
}
#search_page .sub_title i{
    color: #FD773D;
}
#search_page .all_company_corses i, #search_page .all_company_corses .course_label{
    color: #a2a2a2;
}
#search_page .all_company_corses .one_cours{
    border-bottom: 1px solid #ececec;
    padding: 15px 0px;
}
#search_page .all_company_corses {
    margin-top: 15px;
}
#search_page .all_company_corses .profile_info {
    margin-left: 10px;
}
#search_page .all_company_corses .name {
    margin-bottom: 2px;
    margin-right: 10px;
}
#search_page .all_company_corses .teach_subjects, #search_page .all_company_corses .pupil_age_course {
    padding-left: 0px;
    font-size: 100%;
}
#search_page #company_page .fa-map-marker{
    font-size: 115%;
    color: #FD773D;
}
#search_page .sub_title,
#search_page .all_company_corses .sub_title,
h2.sub_title{
    font-size: 130%;
    color: #000;
    font-weight: bold;
}
#search_page .about_corse .about_cours_text{
    margin-top: 15px;
}
#cours_page .about_cours_text h2{
font-size: 21px;
    font-weight: bold;
    /* color: #fb7237; */
}
#cours_page .sub_title i{
    color: #000;
}
.trumbowyg-box, .trumbowyg-editor ol li{
    list-style-type: decimal;
}
#search_page .name a:hover {
    color: #ff7d45;
    text-decoration: none;
}
#search_page .more_courses {
    width: 100%;
    cursor: pointer;
    padding: 5px 15px;
    display: block;
    border-bottom: 1px solid #ffe7dc;
    border-left: 1px solid #ffe7dc;
    color: #337ab7;
    background: #f9f9f9;
    margin-bottom: 15px;
    font-size: 14px;
}
#search_page .more_courses:hover {
    text-decoration: underline;
}
#search_page .select2-container--default .select2-results > .select2-results__options {
    max-height: 300px !important;
}
#subject_name_course .select2-results__option {
  padding: 3px 6px !important; 
}
#course_online{
    color: #fff;
    font-size: 110%;
    background: #b68cde;
    border-radius: 3px;
    display: inline-block;
}
#course_online p{
    margin: 0px;
    padding: 4px 20px;
}


/*навігація*/
.nav-vertical li a{
	display: block;
	padding: 10px;
	color: #4b5c6e;
    font-size: 100%;
    font-weight: bold;
}
.nav-vertical li a:hover{
	color: #fff;
    background-color: #FD773D !important;
	text-decoration: none;
}
.nav-vertical li{
	border-bottom: 1px solid #ededed;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
}
.nav-vertical > li:first-child {
    border-top: 1px solid #ededed;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}
.navbar i.fa.fa-angle-down{
color: #d4d4d4;
    font-size: 14px;
    font-weight: 100;
    position: absolute;
    bottom: 4px;
    left: 43%;
}
#message_show a{
	padding-left: 7px;
}
#request_show a{
	padding-right: 7px;
}

/*side bar*/
#side_bar .one-block-menu{
	margin-bottom: 15px;
}
#side_bar .one-block-menu:last-child, #top_current_page_menu .one-block-menu:last-child{
	margin-bottom: 0px;
}

#type_lessons input[type="radio"] {
   display: none;
}

#select_online_block label {
    padding: 10px 8px;
    margin-top: 1px;
    padding-bottom: 8px;
    margin-bottom: 0px;
    font-size: 100%;
    background: #ffffff;
    color: #474747;
    margin-left: 3px;
}
#type_lessons label[for='local'] {
   border-right: 1px solid #000;
}
#type_lessons label:last-child {
   border-left: none;
}
#select_citu_block, #select_online_block{
    float: left;
}
#select_citu_block label, #select_online_block label{

}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    border: none !important;
    }
#select_citu_block{
    width: 180px;
}
.label_button{
padding: 11px 0px;
    color: #242424 !important;
    background-color: #ffffff;
    padding-right: 24px;
    padding-left: 4px;
    background-image: url(/front/images/select_arrow.png);
    background-repeat: no-repeat;
    background-position: 97% 50%;
    font-size: 100%;
}
.label_button:hover{
    cursor: pointer;
}
#top_current_page_menu #collapseThree, #top_current_page_menu #collapseTwo{
    position: absolute;
    z-index: 10000;
    background: #fbfdff;
    padding: 6px 7px;
    padding-bottom: 11px;
    border: 1px solid #ddd;
    border-top: none;
    margin-top: -4px;
    right: 0px;
    width: 142px;
    text-align: left;
}
#top_current_page_menu #collapseTwo{
        width: 195px;
}
#top_current_page_menu label.label_button{
    margin-bottom: 0;
    padding-left: 10px;
    border-left: 3px solid orange;
}
#top_current_page_menu .one-block-menu label{
        border-left: none;
}
.relative{
    position: relative;
}
#select_online_block{
    width: 69px;
}
#type_lessons input[type="radio"] + label {
   text-align: center;
   cursor: pointer;
   transition: all .4s;
}
#type_lessons label:hover {
   color: #fff;
   background: #fd773d;
}

label[for="popular"] {
}

label[for="recent"] {
}

#type_lessons input[type="radio"]:checked + label {   
   color: #fff;
   background: #fd773d;
}

#gender input {
	display: inline-block;
	margin-right: 10px;
	font-weight: bold;
	cursor: pointer;
}
#gender label {
	cursor: pointer;
}

/*custom check*/

input[type=checkbox].css-checkbox {
							position:absolute; 
							z-index:-1000; 
							left:-1000px; 
							overflow: hidden; 
							clip: rect(0 0 0 0); 
							height:1px; 
							width:1px; 
							margin:-1px; 
							padding:0; 
							border:0;
						}

						input[type=checkbox].css-checkbox + label.css-label {
							padding-left:25px;
							height:16px; 
							min-height: 16px;
							display:inline-block;
							line-height:16px;
							background-repeat:no-repeat;
							background-position: 0 0;
							vertical-align:middle;
							cursor:pointer;

						}

						input[type=checkbox].css-checkbox:checked + label.css-label {
							background-position: 0 -16px;
						}
						label.css-label {
				background-image:url("/front/images/bgcheckbox.png");
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}
input[type=radio].css-checkbox {
							position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
						}

						input[type=radio].css-checkbox + label.css-label {
							padding-left:26px;
							height:18px; 
							min-height: 18px;
							line-height: 18px;
							display:inline-block;
							background-repeat:no-repeat;
							background-position: 0 0;
							vertical-align:middle;
							cursor:pointer;

						}

						input[type=radio].css-checkbox:checked + label.css-label {
							background-position: 0 -18px;
						}
						#gender label.css-label {
				background-image:url("/front/images/bgradio.png");
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}

#slider_price_block input[type=number]{
    width: 60px;
    padding: 2px 5px;
}
#slider_price_block #input-with-keypress-0{
	display: inline-block;
}
#slider_price_block #input-with-keypress-1{
	display: inline-block;
}
.small-font{
	font-size: 80%;
}
#selec_valute_in_sidebar {
	background-color: #578fa5;
    color: #fff;
    border: 1px solid #fff;
    font-size: 80%;
    float: right;
    margin-right: -5px;
}
#selec_valute_in_sidebar option {
	background-color: #506275;
	color: #fff;
	border-bottom: 1px solid #fff;
}
.send_mail_wrapp_block{
	position: fixed;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
}
/* MESSAGE AVATAR **/
.avatar_img{
	width: 55px;
	height: auto;
	border-radius: 50%;
}
.my_message{
	/*margin-left: -30px;
	margin-right: 30px;*/
}
#one_conversation p{
	margin-bottom: 1px;
}
#one_conversation .message_name{
	font-size: 90%;
	display: inline-block;

}
#one_conversation .message_create{
    color: #ccc;
    font-size: 0.9em;
    position: absolute;
    right: -5px;
}
#one_conversation .read_status{
    color: #ccc;
    font-size: 0.9em;
    float: right;
}
#one_conversation .one_message{
	border-radius: 3px;
	padding: 10px 15px ;
}

#one_conversation .my_message{
	background-color: #e4d9f9;
}
#one_conversation .companion_message{
	background-color: #ececec;
    margin-bottom: 15px;
}
.media-body{
	background-color: #fff;
	padding: 5px;
}

/*slider info teacher*/
  #wrapp_custom_modal{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000a8 ; 
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
  }
  #wrapp_custom_modal #wrapp_custom_modal_content{
    background-color: #fff;
    max-width: 1000px;
    margin: 15px auto;
    margin-top: 60px;
    border-radius: 4px;
    padding: 12px;
    position: relative;
    z-index: 1100;
  }
  #wrapp_custom_modal #wrapp_custom_modal_content .close{
    position: absolute;
    top: -49px;
    right: 12px;
    z-index: 11;
    font-size: 90%;
    opacity: 0.9;
    text-shadow: none;
    font-weight: normal;
    color: #fff;
  }
  #wrapp_custom_modal #wrapp_custom_modal_content .close:hover{
    color: #fff;
  }
  #wrapp_custom_modal .slide_image{
    float: left;
    max-width: 500px;
    margin-right: 15px;
  }
  #wrapp_custom_modal #header_custom_modal{
    background-color: #f18758;
    color: #fff;
  }
  #wrapp_custom_modal #header_custom_modal h2{
    margin: 0px;
    margin-bottom: 6px;
    font-size: 149%;
    padding: 6px 18px;
  }
  /*slider info teacher*/

.float-left{
    float: left;
}

.float-right{
    float: right;
}

#pupil_adress_block{
    margin-bottom: 0;
}

#pupil_adress_block input{
    margin-bottom: 15px;
}

#send_user_mail textarea#message_body, 
#send_request_teacher textarea#request_body,
#set_review_teacher textarea, 
#send_request_pupil textarea,
#one_conversation textarea{
	width: 100%;
	border-radius: 4px;
	height: 85px;
	background-color: #fff;
}
#set_review_teacher input{
    width: 95%;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 15px;
}
#send_user_mail .modal-content {
    background-color: #F3F6F9;
}
#send_user_mail #teach_time_on_week {
    margin-bottom: 4px;
}
#send_user_mail .part_element {
    display: none;
}
#send_user_mail #part_1 {
    display: block;
}
#send_user_mail input, #send_user_mail select{
    width: 100%;
    border-radius: 4px;
    background-color: #fff;
}
#send_user_mail input[type="checkbox"], #send_user_mail input[type="radio"] {
    width: auto;
    display: inline-block;
}
#send_user_mail .form-check-label{
    margin-bottom: 1px;
}
#send_user_mail .modal-header {
    padding-top: 7px;
    padding-left: 85px;
    padding-right: 27px;
    background-color: #fcfcfc;
    border-bottom: 1px solid #e5e5e5;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
#send_user_mail .modal-header p {
    margin-bottom: 0;
    font-size: 17px;
}
#send_user_mail textarea {
    background-color: #fff;
    border-radius: 3px;
        height: 120px;
}
#send_user_mail #get_user_name {
font-weight: normal;
    line-height: 18px;
    max-height: 36px;
    overflow: hidden;
    font-size: 14px;
    display: inline-block;
}
#send_user_mail #profile_title_modal {
    min-width: 100%;
    overflow: hidden;
}
#one_conversation textarea{
	margin-top: 35px; 
}
#one_conversation #friend_avatar img{
    width: 95px;
    height: auto;
    border-radius: 50%;
}
#one_conversation #friend_avatar{
}
#set_review_teacher .success_message {
    float: none;
}
#review_raiting i{
	font-size: 1.3em;
}
#review_raiting {
	float: left;
}
#review_raiting input[type=radio]:checked + label {
	background-color: #e4e2e2;
    font-size: 1.2em;
    padding: 2px;
    border-radius: 4px;
} 
#review_raiting input{
	display: none;
} 
#review_raiting label{
	transition: all 0.6s ease;
    margin-bottom: 0;
    margin-top: 2px;
}  
#raiting_title {
	font-size: 0.9em;
	margin-top: -7px;
}   
#raiting_buttons {
	width: 100%;
    text-align: center;
} 

#review_raiting label:hover{
	background-color: #e4e2e2;
    font-size: 1.2em;
    padding: 2px;
    border-radius: 4px;
    cursor: pointer;
}
#get_user_avatar{
    width: 69px;
    height: auto;
    position: absolute;
    top: -25px;
    left: 10px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-radius: 50%;
    border: 4px solid #fff;
}
.modal-header{
    padding: 15px;

    border-bottom: none;
    text-align: center;
}
.modal-header .close {
    position: absolute;
    right: 7px;
    top: 0px;
    margin-top: 6px;
}
.modal-title{
	display: inline-block;
}
#send_mail_button{
	margin:0;
}
#get_user_name{
	font-weight: bold;
}
#send_user_mail .success_message{
	float: left;
}
#send_user_mail .success_message i{
	font-size: 150%;
    color: #4bb937;
}
.all_messages .message_avatar, .message_text{
	margin-right: 10px;
    float: left;
}
.alert {
    background-color: #fff;
    padding: 10px 15px;
    margin-bottom: 5px;
}
.alert:hover {
    background-color: #f7f7f7;
}
.alert-info {
    background-color: #b7d6e6;
    border-color: #a4c3ca;
}
.alert-info:hover {
    background-color: #a2c4d6;
}
.date_message{
	float: right;
	color: #ccc;
    font-size: 80%;
}
.media-body{
	border-radius: 4px; 
}
.media-body p{
	margin: 0;
}

.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td {
    line-height: 1.1em !important;
}
.table-bordered > thead > tr > th, 
.table-bordered > tbody > tr > th, 
.table-bordered > tfoot > tr > th, 
.table-bordered > thead > tr > td, 
.table-bordered > tbody > tr > td, 
.table-bordered > tfoot > tr > td {
    border: 1px solid #eceff3;
}

.modal .success_message{
	float: left;
}

.modal .success_message i{
	font-size: 1.5em;
}

.modal .success_message i.fa.fa-check-circle-o{
	font-size: 150%;
    color: #4bb937;
}
.loading{
	display: none;
}

#requests_page .unread_message, #tutor_block .unread_message{
	background-color: #fbeaea !important;
}

#requests_page .accept_request_row{
	background-color: #e1fbde !important;
}

i.fa-check-square-o{
	color: #5BC963;
}

i.fa-minus-circle{
	color: #FD773D;
}

i.fa-trash{
	color: #d9534f;
}

.user_contacts{
	margin-top: 5px;
	text-align: left;
}
.user_contacts_title{
	margin-bottom: 3px;
	font-weight: bold;
}
.user_contact_one{
	padding-top: 2px;
}
#requests_page th {
    font-weight: normal;
}
.user_profile_info_block{
	float: right;
    text-align: right;
        position: initial;
}
#pagination_wrapper{
	text-align: center;
}

#share_my_profile{
    margin-top: 9px;
    float: right;
    margin-right: -15px;
    background-color: #ffffff;
    padding: 5px 10px;
    color: #000;
    border-top-left-radius: 18px;
}
#share_my_profile a{
    color: #4091d7;
}

/******home page*******/
#home_posts{
    padding: 70px 0px;
}

#home_posts h3{
    font-size: 30px !important;
    text-align: center;
}


#home_posts .post_image{
    max-width: 300px;
        margin: 0 auto;
}
#home_posts img{
    max-width: 100%;
    margin: 0 auto;
}
#home_posts .img_wrapp{
    max-height: 180px;
    overflow: hidden;
    position: relative;
    background-color: #fff;
}
#home_posts h5{
    position: absolute;
    font-size: 117%;
    width: 96%;
    border-top-left-radius: 15px;
    bottom: 0px;
    right: 0px;
    margin: 0px;
    padding: 7px 10px;
    letter-spacing: 0.01em;
    color: #fff;
    line-height: 20px;
    font-weight: normal;
    background: rgba(24, 30, 43, 0.78);
    font-family: 'Fira Sans Condensed', sans-serif;
}
#home_posts .post_tag{
    display: inline-block;
    margin-right: -3px;
}
#home_posts .post_tag a{
padding: 0px 6px;
    font-size: 12px;
    display: inline-block;
    color: #258d95;
    cursor: pointer;
}
#home_posts .one_post{
    margin-bottom: 25px;
}
#home_posts #all_posts{
    text-align: center;
}

#home_posts #all_posts .icon{

    display: inline-block;
}
#home_posts #all_posts a span{
    background-color: #53c5ec;
}

#for_tutors{
    background: #3a3a51;
    color: #fff;
    padding: 70px 0px;
    text-align: center;
}

#home_page_content h3{
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 30px;
}
#home_page_content p{
    font-size: 16px;
}
.my_btn{
    display: inline-block;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 18px;
    background-color: #fd773d;
    color: #fff;
    padding: 10px 16px;
    border-radius: 2px;
    letter-spacing: 0.02em;
    margin-top: 17px;
}
.my_btn:hover{
    color: #fff;
    text-decoration: none;
    background-color: #ff8753;
}
#home_page_content .sub_title{
    font-size: 17px;
    margin: 30px 0px 9px 0px;
    line-height: 22px;
    font-family: 'Roboto Slab', serif;
}
#home_page_content h4{
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0px 8px 0px;
}
#teacher_block{
    background-color: #36354a;
}
#pupil_block{
    background-color: #f3692d;
}
#teacher_pupil{
    text-align: center;
}
#teacher_pupil h2{
    color: #fff;
    font-weight: bold;
    font-size: 185%;
    margin-top: 70px;
    margin-bottom: 40px;
    letter-spacing: 0.04em;
}
#teacher_pupil p{
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-weight: 200;
    font-size: 115%;
    font-family: 'Fira Sans Condensed', sans-serif;
    line-height: 1.4em;
    margin-bottom: 40px;
}
#teacher_pupil .first_link_block{
    margin-bottom: 50px;
}
#teacher_pupil .first_link_block a{
    display: inline-block;
    color: #fff;
    border: 2px solid #ffffff47;
    border-radius: 2px;
    padding: 10px 15px;
    margin: 0 5px;
}
#teacher_pupil .first_link_block a:hover{
    text-decoration: none;
    border: 2px solid #fff;
}
.st-custom-button[data-network] {
   background-color: #9EEC46;
   display: inline-block;
   padding: 5px 10px;
   cursor: pointer;
   font-weight: bold;
   color: #fff;
   }
.btn-group .btn-default{
    border: 1px solid #fff;
}
.btn-group .btn-default:hover{
    box-shadow: inset 0px 0px 9px 1px rgba(0,0,0,0.36);
}
#click_to_share{
    cursor: pointer;
}

/******footer*******/
#footer{
    background-color: #23224a;
    color: #fff;
    padding-top: 40px;
    margin-top: 30px;
    padding-bottom: 30px;
}
#footer h4{
    text-transform: uppercase;
    font-size: 100%;
    margin-bottom: 20px;
    font-weight: 700;
    color: #ffffffde;
    letter-spacing: 0.05em;
}
#footer a{
    color: #ffffff75;
    margin-bottom: 15px;
}
#footer a:hover{
    text-decoration: none;
    color: #fff;
}
#footer p{
    color: #ffffff75;
}

/******blog page*******/
.breadcrumb {
    padding: 6px 15px;
    margin-bottom: 0px;
    background-color: #fff;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 13px;
    overflow: hidden;
    max-height: 30px;
}
#blog_page .one_post{
    padding: 0px;
    background-color: #fff;
    margin-bottom: 20px;
    margin-left: 5px;
    position: relative;
}
#blog_page .post_image img{
    height: 165px;
    margin-left: 0px;
}
#blog_page .post_image {
   padding: 0;
   height: 165px;
   overflow: hidden;
    max-width: 230px;
}
#blog_page .post_title {
   padding-top: 15px;
   padding-bottom: 10px;
}
#blog_page .post_text {
   padding-left: 25px;
}
#blog_page .post_tag {
   float: right;
   font-family: "PT Sans",Helvetica,Arial,sans-serif;
    font-weight: bold;
    margin-right: 10px;
}
#blog_page .post_tags {
   position: absolute;
   bottom: 10px;
   right: 15px;
}
#blog_page .post_tag a{
    color: #1daeaf;
    letter-spacing: 0.005em;
}
#blog_page .post_body{
    max-height: 62px;
    overflow: hidden;
}
#blog_page .post_title h3{
    font-family: "PT Sans",Helvetica,Arial,sans-serif;
    font-weight: bold;
    margin: 0;
    font-size: 145%;
    letter-spacing: 0.01em;
}
#blog_page .post_title a{
    color: #14133a;
}

#one_post_container_title{
    position: relative;
    width: 100%;
    max-height: 450px;
    overflow: hidden;
}
#one_post_container_title img{
   max-width: 350px;
   float: left;
}
#one_post_container_title #post_wrapp_img{
        background: #dadada;
    float: left;
    width: 100%;
}
#one_post_container_title #post_wrapp_title{
/*    position: absolute;*/
/*float: left;*/
    background: #14133ab0;
    color: #fff;
    bottom: 20px;
    left: 0px;
    padding: 22px 29px;
    width: 100%;
}
#one_post_container_title #post_wrapp_title h1{
    margin: 0;
    font-size: 190%;
    font-weight: bold;
    letter-spacing: 0.01em;
        word-break: break-word;
}
#one_page_blog{
    background-color: #fff;
    padding: 15px 17px;
        word-break: break-word;
}

#one_page_blog ul li{
    list-style-type: disc;
}
#one_page_blog ol li{
    list-style-type: decimal;
}
#one_page_blog ul, #one_page_blog ol{
    padding: 0px 10px 15px 15px;
}

#one_page_blog h2{
    margin-top: 15px;
    font-weight: bold;
    font-size: 170%;
}

#one_page_blog img{
    height: auto;
    margin: 5px;
    margin-right: 10px;
    max-width: 100%;
}

/*Univer pages*/
#cities_univer .row.panel.panel-default{
    margin-bottom: 15px;
}
ul.ul_3_column{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}
ul.ul_3_column li {
    margin-bottom: 2px;
    position: relative;
}
.univer_logo_block img{
    width: auto;
    max-height: 70px;
    max-width: 100px;
    margin-bottom: 10px;
    text-align: left;
}
#univer_search_page .univer_subject{
}
#univer_search_page .univer_subject:hover{
    overflow: visible;
    background-color: #fff;
    max-height: 100%;
    height: 100%;
    z-index: 100; 
    border-left: none;
}
#univer_search_page .univer_subject:hover ul{
    -webkit-box-shadow: 0px 0px 12px -1px rgba(138,138,138,1);
    -moz-box-shadow: 0px 0px 12px -1px rgba(138,138,138,1);
    box-shadow: 0px 0px 12px -1px rgba(138,138,138,1);
    background-color: #fff;
    border-radius: 4px;
}
#univer_search_page .univer_subject ul{
    padding-top: 6px;
    padding-bottom: 20px;
    border-left: 1px solid #c8eff1;
}
#univer_search_page .univer_subject:hover .show_all{
    display: none;
}
#univer_search_page .name a{
    padding-bottom: 0px;
}
#univer_search_page .adress{
    float: right;
    margin-right: 13px;
    margin-bottom: 8px;
}
#univer_search_page .univer_logo_block{
padding-right: 17px;
    display: inline-block;
    margin-top: -8px;
}
#univer_search_page .univer_subject ul li{
    font-size: 14px;
    color: #8a8989;
    line-height: 15px;
    padding-bottom: 5px;
    position: relative;
    background-color: #fff;
    padding-left: 9px;
}
#univer_search_page .univer_subject ul li.show_all{
    position: absolute;
    top: 110px;
    width: 100%;
    text-align: center;
    z-index: 10;
    margin: 0px;
    padding: 5px 0 10px 0;
    color: #fb723d;
    background: rgba(255,255,255,0);
background: rgba(255,255,255,0.48);
background: -moz-linear-gradient(top, rgba(255,255,255,0.48) 0%, rgba(255,255,255,0.85) 10%, rgba(255,255,255,1) 32%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.48)), color-stop(10%, rgba(255,255,255,0.85)), color-stop(32%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,0.48) 0%, rgba(255,255,255,0.85) 10%, rgba(255,255,255,1) 32%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,0.48) 0%, rgba(255,255,255,0.85) 10%, rgba(255,255,255,1) 32%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,0.48) 0%, rgba(255,255,255,0.85) 10%, rgba(255,255,255,1) 32%, rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,0.48) 0%, rgba(255,255,255,0.85) 10%, rgba(255,255,255,1) 32%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}

#search_page .company_info, #search_page .univer_subject{
    padding-left: 0px;
    max-height: 132px;
    overflow: hidden;
    -webkit-transition: all 0.7s ease; /* Safari */
    transition: all 0.7s ease;
}
#cours_page .company_info{
    max-height: inherit;
}
#cours_page .foto_gallery a{
    max-height: 155px;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 15px;
}
.foto_gallery_block{
    margin-top: 15px;
}
#univer_search_page .univer_subject .defis_ul{
    color: #c8eff1;
    margin-left: -12px;
    padding-right: 4px;
}
#cities_univer ul a{
    display: block;
    background-color: #eaeaea;
    color: #18769c;
    padding: 5px 10px;
}
#cities_univer ul a:hover{
    background: #83ce0d;
    color: #fff;
    text-decoration: none;
}
#cities_univer ul a:hover .count{
    color: #ff7600;
}
#cities_univer .count{
    color: #b7b7b7;
    padding: 0px 0px;
    background: #f3f3f3;
    margin-top: -5px;
    margin-right: -8px;
    height: 30px;
    width: 28px;
    padding-top: 5px;
    text-align: center;
    position: absolute;
    right: 12px;
    top: 5px;
}

#one_page .univer_name h1{
    text-align: center;
}
#top_current_page_menu .mob_padding{
    padding-right: 10px !important;
}

.previews {
    width: 95px;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
}
.display_none{
    display: none !important;
}
.delete_file {
    color: red;
    float: right;
}
.this_image{
    display: inline-block;
    margin-right: 8px;
    margin-top: 12px;
}

.google-auto-placed{
    display: none;
}


/*begin media*/

@media screen and (max-width: 1200px) {

    #promo_img .select2-container--default .select2-selection--single {
        height: 43px !important;
    }
    .select2-container--default .select2-selection--single {
        height: 37px !important;
    }
    .label_button {
        padding: 4px 6px;
        line-height: 14px;
    }
    #headingTwo label {
        padding-bottom: 5px;
    }
    #headingThree label {
        padding-bottom: 5px;
    }
    #select_citu_block {
        width: 143px;
    }
    #select_online_block {
        width: 57px;
    }
    #select_online_block label {
        padding: 8px 5px;
        padding-top: 9px;
    }
    #bs-example-navbar-collapse-1 .main_link_nav{
        width: 790px;
    }
	#side_bar .panel-body{
		padding: 8px;
	}
	.one_form_block div.col-md-12, .subject_one_block .col-sm-12{
		padding: 0px;
	}
	.one_form_block .tips.col-md-12{
		margin-top: 5px;
	}
	.panel {
	    margin-bottom: 7px;
	}
    #local_teach_detail, #skype_login_block, #local_place_teach {
        padding-left: 15px !important;
    }
    #non_collapse_navbar{
        float: none;
        position: unset;
    }
}	
@media screen and (max-width: 992px) {
    #top_current_page_menu .mob_padding.mob_none{
        padding-right: 0px !important;
    }
    #top_current_page_menu #collapseThree, #top_current_page_menu #collapseTwo{
        width: 100%;
        left: 0;
    }
    #top_current_page_menu #headingTwo label {
        margin-left: 0px;
    }
    #top_current_page_menu .select2-container {
        margin-right: 10px;
    }
    #top_current_page_menu .label_button {
        padding: 7px 7px;
        line-height: 25px;
        padding-right: 27px;
        width: 100%;
    }
    .univer_aditional_info .teach_subjects li a {
        padding: 5px 9px;
    }
    .univer_aditional_info .univer_subjects .sub_title {
        font-size: 16px;
    }
    #cours_page .name h1, #one_page .univer_name h1 {
        font-size: 20px;
    }
    #search_page .panel-body.univer_search_menu, #cities_univer .panel-body.univer_search_menu {
       /* padding: 15px 0px;*/
    }
    #teacher_pupil h2 {
        margin-top: 50px;
    }
    #teacher_pupil p {
        margin-bottom: 20px;
    }
    #teacher_pupil .first_link_block a {
        margin-bottom: 10px;
    }
    #bs-example-navbar-collapse-1 .main_link_nav{
        width: 600px;
    }
	.one_row img.user_avatar{
	    width: 100%;
	    max-width: 95px;
	    border-radius: 50%;
	}
	.one_row .price_value {
	    font-size: 114%;
	    font-weight: bold;
	}
    .link_pupil .btn {
         width: auto;
    }
    .btn {
        padding: 6px 8px;
    }
    #tutor_block .col-sm-12{
        padding: 0;
    }
    .one_form_block .tips.col-sm-12 {
        margin-top: 5px;
    }
    #local_teach_detail, #skype_login_block, #local_place_teach {
        padding-left: 10px !important;
    }
    #blog_page .post_image{
        max-width: 165px;
    }
    #blog_page .post_image img {
        margin-left: 0px;
        width: 100%;
        height: auto;
            border-bottom: 6px solid #f3692d;
    border-right: 6px solid #f3692d;
    }
    #blog_page .post_tags {
        left: 5px;
    }
    #blog_page .post_tag {
        float: none;
    }
    #blog_page .post_tag a {
        color: #ffffff;
        font-family: "Fira Sans Condensed",sans-serif;
        font-weight: 300;
    }
    #right_top_menu li{
        float: none;
        background-color: #181633;
    }
    #right_top_menu a {
        padding: 6px 14px;
        border-bottom: 1px solid #5d5b7f;
    }
    #right_top_menu {
        position: absolute;
        right: 27px;
        top: 0px;
    }
    #right_top_menu ul{
        display: none;
    }
    #right_top_menu #selec_valute {
        padding-left: 12px;
    }
    .main_link_nav{
        position: relative;
    }
    #button_to_right_top_menu{
        display: block;
        float: none;
        margin-bottom: 2px;
        margin-right: 0px;
        margin-left: 33px;
    }
    .univer_logo_block img {
        margin-bottom: 3px;
    }
    #univer_search_page .name a {
        padding-bottom: 0px;
        font-size: 16px;
        padding-right: 2px;
        line-height: 17px;
    }
    #search_page .one_courses {
        border-bottom: 14px solid #eceff3;
        padding: 17px 10px 10px 15px;
        position: relative;
    }

}	
@media screen and (max-width: 768px) {

    .ads_top_gorizont{
        display: none;
    }
    #right_top_menu a {
        padding: 14px 14px;
    }

    #promo_for_tutors_link{
        text-align: center;
    }

    #promo_for_tutors {
        left: 50%;
        margin-left: -142px;
    }

    #front_top_img {
        height: 600px;
        background-image: url(../images/front_img_mobile.jpg);
    }

    .navbar i.fa.fa-angle-down {
        color: #ffffff;
        font-size: 23px;
        font-weight: 100;
        position: absolute;
        bottom: 14px;
        right: 27px;
            left: inherit;
    }

    #side_bar .top_courses, #side_bar .top_tutors{
        width: 50%;
        float: left;
    }
    .top_tutors h4, .top_courses h4 {
        text-align: left;
    }
    .one_top_tut {
        max-width: 100%;
        margin: 5px 7px;
    }

    #search-tutor .flag {
        background-image: none;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #e7e7e7;
        font-size: 16px;
        padding: 9px 15px 9px 30px;
    }
    .univer_search_menu .col-md-6 {
        width: 100%;
    }
    #home_posts .one_post{
        width: 50%;
        padding: 0px 3px ;
    }
    #main_content {
        margin-top: 5px;
    }
    .noUi-target {
        margin: 10px 10px 15px 10px !important;
    }

    #pupil_age_panel{
        display: none;
    }
    .nav-vertical li a {
        line-height: 1.2em;
        padding: 7px 8px;
        font-size: 100%;
    }

    #side_bar .panel-body {
        padding: 0px;
    }

    .navbar-default .navbar-nav #user_profile_menu ul li a {
        color: #b5b5b5;
    }
    #user_profile_menu ul.dropdown-menu{
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
   .navbar-collapse {
        max-height: 620px !important;  
        overflow-x: auto;  
   }

    #title_top_part {
        display: block;
        padding: 0px 0px 4px 0px;
        font-size: 92%;
    }
    #title_bottom_part{
        display: block;
        padding: 0px 0px 3px 0px;
        font-size: 70%;
    }
    #teacher_pupil .first_link_block {
        margin-bottom: 15px;
    }
    #teacher_pupil h2 {
    margin-top: 20px;
    margin-bottom: 12px;
    font-size: 23px;
    }
    #teacher_pupil p {
        margin-bottom: 10px;
    }
    #teacher_pupil {
    border-bottom: 1px solid #33314d;
    text-align: center;
    }
    #bs-example-navbar-collapse-1 a {
    border-bottom: 1px solid #444261;
    text-align: left;
    }
    .navbar-collapse {
        padding-right: 0px;
        padding-left: 0px;
        border-top: none;
    }
    #bs-example-navbar-collapse-1 {
        float: none;
    }
    #bs-example-navbar-collapse-1 .main_link_nav{
    background-color: #181633;
    margin: 0px;
    width: 100%;
    margin-top: 0px;
    }
    #button_to_right_top_menu{
        display: none;
    }
    #right_top_menu ul {
        display: block;
        margin: 0px;
    }
    #right_top_menu {
        position: relative;
        right: 0px;
        float: none;
    }
/*    #non_collapse_navbar {
        position: absolute;
        top: 0;
        left: 20px;
    }*/
    .navbar-static-top .navbar-header{
        position: absolute;
            right: 30px;
    }
    #non_collapse_navbar ul{
       margin: 0;
    }
    #non_collapse_navbar li{
        float: left;
    }
	.one_row .price, .one_row .view_profile, .one_row .send_mail_open_modal{
		text-align: right;
		float: right;
		margin-right: 5px;
	}
	.user_profile_info_block {
	    border-radius: 2px;
	    padding: 2px 0px;
	    margin-top: 2px;
	}
	.one_row .price {
	    padding: 6px 5px;
	}
	.one_row .view_profile {
	    margin-top: 0px;
	}
    .one_form_block {
	    display: block;
	    margin-bottom: 12px;
	}    
	.one_form_block .col-md-5 {
	    padding: 0px;
	}
	.tips {
	    padding: 0px;
	    margin-top: 7px;
	    max-width: 470px;
	}
	.one_form_block input, .one_form_block select, .one_form_block textarea {
	    max-width: 470px;
	}
	label.gender {
	    margin: 0px 8px 0px 0;
	}
	#foto_content {
    	text-align: center;
	}
	#side_bar{
		padding:0px;
	}
	#side_bar .panel{
		border-right: 3px solid #eceff3;
	}
	#content_app_sidebar{
		padding:0px;
	}
	.one_form_block div.col-xs-12{
		padding: 0px;
	}
	.time_edu_block select{
	    margin-bottom: 5px;
	}
	#second_part_bar_menu, #first_part_bar_menu{
		width: 50%;
		float: left;
	}
	#second_part_bar_menu{
		padding-left: 5px;
	}
	#side_bar{
		margin-bottom: 0px;
        margin-top: 13px;
	}
	#first_part_bar_menu{
		padding-right: 5px;
	}
	#search-tutor .view_profile a {
	    margin-bottom: 0px;
	}
	.one_row {
        font-size: 100%;
        padding: 8px 10px;
        margin-bottom: 0px;
	}
    #search-tutor .one_row .profile_about{
        margin-left: 105px;
    }
	.btn {
	    padding: 3px 10px;
	}
	#side_bar label.side-bar-label {
	    font-size: 100%;
	    padding: 3px 9px;
	}
    .one_row .send_meil {
        margin-top: 0px;
    }
    .profile_info {
            margin-bottom: 2px;
    }
    .teach_subjects {
        margin-bottom: 1px;
    }
    .profile_info .name {
        margin-bottom: 0px;
    }
    .one_row h5.profile_title {
        margin-bottom: 2px;
    }
    .link_pupil .view_profile, .link_pupil .send_meil{
        float: right;
    }
    .link_pupil{
        float: right;
        width: auto;
    }
    #tutor_avatar_sidebar {
        text-align: center;
        float: left;
        width: auto;
        margin-right: 14px;
        margin-top: 5px;
    }
    #tutor_avatar_sidebar img {
        width: 155px;
        height: auto;
    }
    #tutor_page .profile_about_me{
        clear: both;
    }
    #tutor_page #tut_info{
        float: left;
    }
    #tutor_page .info_label, #tutor_page .info_value{
        width: auto;
        display: block;
    }
    #tutor_page .info_value{
        padding-left: 22px;
    }
    #tutor_page .info_label{
        float: none;
    }
    #tutor_page #tutor_video{
        float: left;
    }

    #local_teach_detail, #skype_login_block, #local_place_teach {
        padding-left: 8px !important;
    }
    #share_page_block_tutor a {
        padding: 3px 5px 5px 5px;
        float: none;
        display: block;
        width: 30px;
        height: 23px;
        margin: 0;
        text-align: center;
        border-radius: 1px;
    }
    #share_page_block_tutor {
        text-align: right;
    }
}

@media screen and (max-width: 560px) {
    #home_posts .one_post {
        margin-bottom: 8px;
    }
    #promo_img select#subject_name {
        width: 100% !important;
        margin-bottom: 5px;
    }
    #promo_img #find_tutor {
        margin-top: 5px;
        width: 150px;
    }

    #promo_img #form_find_tutor h2 {
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 14px;
    }
    #promo_img #form_find_tutor {
        width: 100%;
        left: 0px;
    }
    .one_row img.user_avatar {
        max-width: 65px;
    }
    #search-tutor .one_row .profile_about, #search-tutor .one_row .teach_subjects {
        margin-left: 76px;
    }
    #side_bar .top_courses, #side_bar .top_tutors {
        width: 100%;
        float: none;
    }
    #select_citu_block {
        width: 67%;
    }
    #select_online_block label {
        width: 100%;
    }
    #select_online_block {
        width: 33%;
    }
    .exist_sub_dir #select_online_block {
        padding-right: 13px;
    }
    #top_current_page_menu {
        padding: 6px 10px;
    }
    #top_current_page_menu .panel-body {
        padding: 2px 0px;
    }
    .univer_aditional_info .univer_subjects {
        margin-left: 0px;
        margin-top: 10px;
    }
    #one_page .univer_short_info {
        margin-left: 0px;
        margin-top: 10px;
    }
    #one_page #adress_univer{
        margin-bottom: 5px;
    }
    #cities_univer .count {
        width: 23px;
        font-size: 12px;
    }
    ul.ul_3_column {
        -webkit-column-count: 2;
        -moz-column-count: 2;
         column-count: 2; 
    }
    #home_posts .one_post{
        width: 100%;
        padding: 0px 3px ;
        max-width: 450px;
    }
    #select_type_of_register a{
        padding: 20px 0px;
        font-size: 115%;
    }
    #flash_message_wrapp {
        padding: 25px 12px;
        width: 85%;
    }
    #subjects_block .subject_one_block:first-child{
        padding-right: 20px;
    }
    .panel-body .info_tips {
        margin-bottom: 7px;
        margin-top: 7px;
        font-size: 85%;
    }
    #share_my_profile {
        margin-top: 0px;
        position: absolute;
        right: -69px;
        top: 124px;
        transform: rotate(-90deg);
        margin-top: 0px;
        margin-right: -15px;
        background-color: #b8caf3;
        font-size: 85%;
        padding: 3px 8px;
    }
    #second_title {
        margin-top: -49px;
    }
    #second_title h2 {
        margin: 0 19px 0px -15px;
        padding: 7px 10px;
        font-size: 105%;
    }
    .nav-vertical li a {
        font-size: 95%;
    }
    #side_bar label.side-bar-label {
        padding: 3px 5px;
    }
    #side_bar {
        margin-top: 3px;
    }
    #main_content {
        margin-top: 7px;
    }    
    #main_content > div.row > div{
        padding-right: 7px;
        padding-left: 7px;
    }
    #one_post_container_title #post_wrapp_title{
        padding: 10px 20px;
        max-width: 90%;
    }
    #one_post_container_title #post_wrapp_title h1{
        font-size: 140%;
    }
    #blog_page .post_title h3 {
        font-size: 115%;
    }
    #blog_page .post_text {
        padding-left: 10px;
        padding-right: 10px;
    }
    #blog_page .one_post {
        margin-bottom: 10px;
    }
    #one_page_blog img {
        float: none;
        max-width: 100%;
        padding: 3px;
        margin: 0 0 5px 0;
    }
    #one_page_blog h2{
        font-size: 22px;
    }
    #one_page_blog{
        padding: 8px 10px;
    }
}

@media screen and (max-width: 450px) {

    #promo_img #form_find_tutor {
        top: 146px;
    }
    #promo_img #form_find_tutor h2 {
        font-size: 29px;
        line-height: 34px;
    }
    .exist_sub_dir #select_online_block {
        padding-right: 8px;
    }
    #top_current_page_menu .mob_padding {
        padding-right: 5px !important;
    }
    #select_online_block label {
        padding: 8px 0px;
        font-size: 13px;
    }
    #top_current_page_menu .label_button {
        padding: 7px 7px;
        line-height: 12px;
        padding-right: 64px;
        min-height: 35px;
        width: 100%;
    }
    .univer_description h3 {
        font-size: 17px;
        margin-top: 10px;
        margin-bottom: 6px;
    }
    .univer_description h2.sub_title {
        margin-top: 15px;
        font-size: 22px;
    }
    .univer_description .univer_descr_label {
        font-size: 18px;
    }
    .table > tbody > tr > td{
        padding: 5px;
    }
    .univer_title_block {
        margin-bottom: 5px;
    }
    #cours_page .name h1, #one_page .univer_name h1 {
        font-size: 18px;
    }
    .univer_subject{
        display: none;
    }
    #univer_search_page .univer_subject ul li {
        font-size: 12px;
        line-height: 13px;
        padding-bottom: 6px;
        padding-left: 6px;
    }
    #univer_search_page .univer_subject .defis_ul {
        color: #87d1d4;
        margin-left: -10px;
        padding-right: 1px;
    }
    #univer_search_page .univer_logo_block {
        padding-right: 7px;
        margin-top: 3px;
        margin-bottom: 5px;
    }
    #univer_search_page .one_courses {
        border-bottom: 11px solid #eceff3;
        padding: 10px 5px 5px 10px;
        position: relative;
    }
    #univer_search_page .one_courses > div{
        width: 100%;
    }
    #tutor_avatar_sidebar {
        margin-bottom: 0px;
    }
    #tutor_avatar_sidebar img {
        width: 125px;
        height: auto;
        border-radius: 50%;
    }
    .subject_one_block .delete_subject {
        margin-left: 104px;
        margin-top: 9px;
        float: left;
    }
    #search-task .one_row .show_task {
        margin-bottom: 5px;
    }
    #search-task .one_row .send_meil {
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 380px) {
    #promo_img #form_find_tutor h2 {
        font-size: 27px;
        line-height: 34px;
    }
    .one_row h5.profile_title {
        margin-top: 8px;
    }
    .profile_info {
        clear: both;
    }
    #tutor_avatar_sidebar {
        width: 100%;
    }
    #tutor_page #tut_info {
     width: 100%;
    }
	#second_part_bar_menu, #first_part_bar_menu{
		width: 100%;
		float: none;
	}
	.one_row .price {
	   float: right;
	}
    .one_row .price_detale {
        color: #a2a2a2;
        font-size: 11px;
    }
    .one_row .price_value {
        font-size: 15px;
    }
    .one_row .price, .one_row .view_profile, .one_row .send_mail_open_modal {
        margin-right: 0px;
    }
    .one_row .send_mail_open_modal {
       float: left;
    }
    #search-tutor .one_row .profile_about, #search-tutor .one_row .teach_subjects {
        margin-left: 0px;
    }       
	#second_part_bar_menu{
		padding-left: 0px;
	}
	#first_part_bar_menu{
		padding-right: 0px;
	}
    .one_row .view_profile {
        float: right;
            border: 1px solid #ececec;
                border-radius: 3px;
    }
    #search-tutor .view_profile a {
        width: auto;
        font-size: 14px;
        padding: 3px 4px;
    }
}





















